@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

.auth_section {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: $white;
  .img {
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .form_container {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 16px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 576px) {
      padding: 2rem 1rem;
    }

    @media (max-width: 576px) {
      width: calc(100% - 2rem);
    }
    @media (max-width: 768px) {
      width: calc(100% - 2rem);
    }
    .form-header {
      width: 100%;
      max-width: 600px;
      gap: 16px;
      .logo {
        display: flex;
        align-items: end;
        gap: 12px;
        img {
          height: 60px;
          object-fit: contain;
        }
        h1 {
          color: $second;
          margin: 0;
          font-weight: 400;
          font-size: 32px;
        }
        span {
          height: 50px;
          width: 2px;
          background: $main25;
          display: block;
          position: relative;
          &::after,
          &::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            background: $main25;
            top: -3px;
            left: -1.1px;
            border-radius: 50%;
          }
          &::before {
            bottom: -3px;
            top: initial;
          }
        }
      }
      @media (max-width: 992px) {
        .logo {
          font-size: 24px;
        }
      }
    }
  }
  .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
  }
  .form {
    width: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    .head {
      color: $second;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 1.5rem;
      img {
        height: 40px;
      }
    }
    .sub-head {
      font-size: 18px;
      font-weight: 400;
      color: $gray;
      margin-bottom: 12px;
      span {
        color: $main;
        font-weight: bold;
      }
    }
    .selection-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-top: 24px;
      .select {
        height: 70px;
        min-width: calc(50% - 6px);
        flex: 1;
        @include clearInput();
        background: $InputBG;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 600;
        color: $dark;
        transition: $transition;
        &.active {
          background: $main;
          color: $white;
        }
      }
    }
    .next {
      @include clearInput();
      @include centerFlex();
      width: 100%;
      height: 60px;
      background: $main;
      color: $white;
      border-radius: 12px;
      margin-top: 24px;
    }
    .tabs {
      width: 100%;
      border-bottom: 2px solid $InputStroke;
      gap: 0;
      button {
        @include clearInput();
        padding: 4px 12px;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        transition: $transition;
        color: $dark;
        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          width: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 2px;
          background: $main;
          transition: $transition;
        }
        &.active {
          color: $main;
          &::after {
            width: 100%;
          }
        }
      }
    }
    form {
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      input {
        height: 54px;
        border: 1px solid $InputStroke;
        background: $InputBG;
        padding: 12px 16px;
        border-radius: 8px;
        outline: none;
        color: $dark;
        &::placeholder {
          color: $inputHint;
        }
      }
      a {
        color: $main;
        align-self: flex-end;
        color: $main;
      }
      .resend {
        @include space-between();
        h6 {
          color: $second;
          font-weight: 700;
          font-size: 1rem;
        }
        p {
          color: $second;
        }
      }
    }
  }
}

.reset_section {
  padding: 60px;
  min-height: 100dvh;
  background: $white;
  @include space-between();
  flex-direction: column;
  @media (max-width: 576px) {
    padding: 32px 24px;
  }
  .header {
    display: flex;
    width: 100%;
    .logo {
      height: 60px;
      img {
        height: 60px;
      }
    }
  }
}

.subTitle {
  color: $gray;
  font-size: 1rem;
  text-align: center;

  .otp-page-des {
    span {
      &:first-child {
        color: $gray;
        font-weight: 400;
      }
      &.phone-number {
        color: $dark;
        font-weight: 700;
      }
    }
    @media (max-width: 576px) {
      font-size: 14px;
    }
    a,
    button {
      color: $second;
      font-weight: 700;
    }
  }
}
.reset-container {
  display: flex;
  width: min(100%, 700px);
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  .title {
    color: $second;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
    @media (max-width: 576px) {
      font-size: 28px;
    }
    &.otp-page-title {
      color: $second;
      font: weight 700px;
      margin-bottom: 4px;
    }
  }
}
.reset-form {
  margin: 24px 0;
  width: 100%;

  .tabs {
    width: 100%;
    border-bottom: 2px solid $InputStroke;
    button {
      @include clearInput();
      padding: 0 12px;
      position: relative;
      font-size: 16px;
      font-weight: 500;
      transition: $transition;
      color: $dark;
      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        background: $main;
        transition: $transition;
      }
      &.active {
        color: $main;
        &::after {
          width: 100%;
        }
      }
    }
  }
  form {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    label {
      font-weight: 600;
      margin-bottom: 8px;
    }
    a {
      color: $main;
      align-self: flex-end;
      color: $main;
    }
  }
  .resend {
    padding: 12px 0;
    @include space-between();
    h6 {
      color: $second;
      font-weight: 700;
      font-size: 1rem;
    }
    p {
      span {
        color: $second;
        font-weight: 700;
      }
    }
  }
}
.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .text-header {
    margin-bottom: 24px;
    color: $gray;
    font-size: 14px;
    font-family: 400;
  }
  .register-form {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    label {
      font-weight: 600;
      margin-bottom: 8px;
    }
    .terms-text {
      margin: 1.5rem 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $gray;
      font-weight: 700;
      a {
        color: $second;
      }
    }
  }
}
.account-link {
  h6 {
    color: $dark;
    @include centerFlex();
    a {
      margin: 0 5px;
      color: $second;
      font-weight: 700;
    }
  }
}
.seperator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 48%;
    right: 0;
    background-color: #0d0d0d18;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: 48%;
    background-color: #0d0d0d18;
  }
}
.social-login-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 600px;
  width: 100%;

  button {
    @include centerFlex();
    flex: 1;
    gap: 10px;
    padding: 16px 20px;
    border: 1px solid $second;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
  }
}
.react-tel-input {
  .flag {
    .arrow {
      display: none;
    }
  }
  .form-control {
    &:focus {
      box-shadow: none;
    }
  }
}

.phone-label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 12px;
}
a.back,
button.back {
  @include clearInput();
  @include centerFlex();
  align-self: stretch !important;
  width: 100%;
  border: 1px solid $second;
  color: $dark;
  border-radius: 12px;
  width: 70px;
  font-size: 18px;
  transition: $transition;
  &:hover {
    color: $main;
    border-color: $main;
  }
}

.identity-selector {
  .identity-title {
    color: #0d0d0d;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
  }
  .identity-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .identity-option {
    cursor: pointer;
    @include centerFlex;
    flex: 1;
    gap: 8px;
    border: 1px solid $second;
    padding: 1rem;
    border-radius: 12px;
    color: $second;
    font-size: 1rem;
    transition: all 0.4s ease;
    input {
      appearance: none;
    }
    &.active {
      border-color: $second;
      background-color: $second;
      color: $white;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.personal-info-form {
  .form-head {
    margin-bottom: 24px;
    font-weight: 400;
    color: $gray;
  }
  .image-label {
    margin-bottom: 4px;
    span {
      font-size: 16px;
      font-weight: 700;
      &:first-child {
        color: $dark;
      }
      &:last-child {
        color: $clientYellow;
      }
    }
  }
  input[type="file"] {
    display: none;
  }
  .images-input {
    position: relative;
    .image-input-wrapper {
      @include centerFlex;
      border: 1px solid $InputStroke;
      background-color: $InputBG;
      width: 80px;
      overflow: hidden;
      // padding: 1rem;
      border-radius: 12px;
      min-height: 56px;
      height: 80px;
      img {
        aspect-ratio: 1/1;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .add-image-buttton {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $main;
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translate(-50%);
        i {
          color: $white;
        }
      }
    }
  }
}

.area-of-interest {
  // accordion-overrides.scss
  .accordion {
    border: none;
    background: transparent;

    .accordion-item {
      border: none;
      margin-bottom: 0.5rem;

      .accordion-button {
        font-size: 1rem;
        font-weight: 700;
        background-color: $InputBG;
        color: $dark;
        border-radius: $borderRadius !important;
        padding: 0.75rem 1rem;
        border: none;
        transition: background-color 0.3s ease, color 0.3s ease;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after {
          display: none !important;
          content: none !important;
        }
        &:not(.collapsed) {
          border-radius: $borderRadius $borderRadius 0 0 !important;
          .arrow-icon {
            transform: rotate(0deg);
          }

          // background-color: #007bff;
          // color: #fff;
        }

        // &:hover {
        //   background-color: #e0e0e0;
        //   color: #000;
        // }

        &:focus {
          box-shadow: none;
          // border-color: #007bff;
        }
        .arrow-icon {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: $white;
          @include centerFlex();
          transform: rotate(90deg);
          transition: 0.3s ease;
          color: $second;
        }
      }

      .accordion-body {
        background-color: $InputBG;
        padding: 12px;
        border: none;

        border-radius: 0 0 8px 8px;

        label {
          display: flex;
          align-items: center;
          font-size: 0.95rem;
          gap: 8px;
          margin-bottom: 0.5rem;
          cursor: pointer;

          input[type="checkbox"] {
            accent-color: #007bff;
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .tag {
      display: inline-flex;
      align-items: center;
      gap: 0.4rem;
      padding: 0.4rem 0.8rem;
      border: 2px solid $second;
      border-radius: 8px;
      font-size: 0.9rem;
      font-weight: 500;
      cursor: pointer;
      background-color: $white;
      color: $second;
      transition: all 0.2s ease;
      user-select: none;
      direction: rtl;

      input {
        display: none;
      }

      &.selected {
        background-color: $second;
        color: $white;
        border-color: $second;
      }

      .icon {
        font-size: 1rem;
        line-height: 1;
      }
    }
  }
}
