.community-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  gap: 1rem;

  .cover-image {
    width: 180px;
    height: 180px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .community-details {
    h5 {
      font-size: 1.3rem;
      font-weight: 700;
      color: $dark;
    }
    .hed {
      display: flex;
      justify-content: space-between;
    }
    .info-grid {
      border-radius: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .info-box {
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        padding: 0.6rem;
        height: min-content;
        .label {
          font-size: 0.9rem;
          font-weight: 600;
          color: $second;
          margin-bottom: 0.5rem;
        }

        .value {
          font-size: 1rem;
          font-weight: 600;
          color: $dark;
          display: flex;
          align-items: center;
          gap: 6px;
          i {
            color: $second;
          }
          img {
            width: 18px;
            height: 18px;
          }
        }
        .flex {
          display: flex;
          justify-content: space-between;
          .bold {
            font-weight: bold;
            img {
              height: 20px;
              margin: 0 10px;
            }
          }
        }
      }

      .info-box.w-50 {
        flex: 1 1 100%;
      }
    }
    p {
      color: $gray;
      margin-top: 1rem;
    }
  }

  @media (min-width: 992px) {
    flex-direction: row;
    text-align: start;
    align-items: center;
    padding: 2rem;
    gap: 2rem;

    .cover-image {
      width: 200px;
      height: 200px;
      margin-bottom: 0;
    }

    .community-details {
      flex: 1;

      h5 {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

///////
.community-tabs {
  .hed {
    font-size: 1.3rem;
    font-weight: 700;
    color: $dark;
  }
  .tabs {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 1rem 0;

    a {
      flex: 1;
      text-align: center;
      padding: 0.7rem 0;
      border-radius: 8px;
      background: transparent;
      border: 1px solid $second;
      color: $second;
      text-decoration: none;
      font-size: 0.85rem;
      font-weight: 600;
      transition: 0.3s;

      &.active,
      &:hover {
        background: $second;
        color: $white;
      }
    }
  }
}

////
.consultations-section {
  padding: 2rem 0;

  h5 {
    margin: 1rem 0px;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .consultation-card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
    transition: 0.3s;
    min-height: 100%;

    .title {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: $second;
    }

    .desc {
      font-size: 0.95rem;
      color: $dark;
      font-weight: bold;
    }

    .icons-row {
      display: flex;
      gap: 12px;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 1rem;

      span {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 0.85rem;
        color: $dark;
        font-weight: bold;
        cursor: pointer;

        .icon-circle {
          width: 34px;
          height: 34px;
          background: #f1f1f1;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;

          i {
            font-size: 0.9rem;
            color: $second;
          }
        }

        &:hover .icon-circle {
          background: $second;

          i {
            color: #fff;
          }
        }
      }
    }
  }
}

////
.encounters-cards {
  .encounter-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    cursor: pointer;

    .title {
      font-weight: 700;
      font-size: 1rem;
      margin-bottom: 8px;
      color: $second;
    }
    .desc {
      font-size: 0.9rem;
      color: $dark;
      margin-bottom: 14px;
    }

    .meta {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 0.8rem;
      color: #777;
      margin-top: auto;

      i {
        margin-left: 5px;
        color: $second;
      }
    }

    &:hover {
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.08);
    }
  }
}

.encounter-modal {
  .desc {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 1rem;
    background: #f9f9f9;
    padding: 10px 14px;
    border-radius: 10px;
  }

  .info-grid {
    display: flex;
    gap: 12px;
    font-size: 0.9rem;
    color: #444;
    background: #f4fbfe;
    padding: 10px 14px;
    border-radius: 10px;

    @media (max-width: 992px) {
      flex-wrap: wrap;
    }

    div {
      background: #ffffff;
      padding: 10px 14px;
      border-radius: 10px;
      flex: 1 1 250px;
      display: flex;
      align-items: center;
      min-width: 220px;

      span {
        margin: 0 10px;
      }

      .url {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 180px;
        color: $main;
      }
    }

    .copy-btn {
      background: $main;
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 6px;
      font-size: 1rem;
      cursor: pointer;
      margin-right: 5px;

      i {
        margin: 0;
      }

      &:hover {
        background: darken($main, 8%);
      }
    }
  }

  .meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #1b1b1b;
    padding: 10px;
    font-weight: 600;

    i {
      margin-left: 5px;
      color: $main;
    }
  }
}
////
.views-section {
  .video-box {
    iframe {
      width: 100%;
      height: 350px;
      border-radius: 12px;
      border: none;
      margin-bottom: 15px;
    }
  }
  h5 {
    margin: 1rem 0px;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .desc {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 15px;
  }

  .icons-row {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;

    span {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 0.9rem;
      color: #333;

      .icon-circle {
        background: #f1f1f1;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $main;
        font-size: 1rem;
      }
    }
  }

  .comments-list {
    margin-top: 20px;

    .comment-card {
      background: #f9f9f9;
      border-radius: 10px;
      padding: 14px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
      height: 100%;

      .title {
        font-weight: 600;
        margin-bottom: 6px;
        font-size: 0.95rem;
      }

      .desc {
        font-size: 0.9rem;
        color: #555;
        margin-bottom: 6px;
      }

      .date {
        font-size: 0.8rem;
        color: #888;
      }
    }
  }

  .add-comment-btn {
    background: $main;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    font-size: 0.9rem;
    margin: 20px;
    cursor: pointer;

    i {
      margin-left: 6px;
    }

    &:hover {
      background: darken($main, 8%);
    }
  }
}
////
.add-comment-btn {
  background: $main;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 0.9rem;
  cursor: pointer;

  i {
    margin-left: 6px;
  }

  &:hover {
    background: darken($main, 10%);
  }
}

// .community-post-details {
//   display: flex;
//   justify-content: center;
//   .image-wrapper {
//     width: 100%;

//     img {
//       width: 100%;
//       aspect-ratio: 1/1;
//     }
//   }
//   .post-title {
//     font-size: 500;
//     font-size: 16px;
//   }
// }
.community-post-details {
  .container {
    // background: $white;
    border-radius: 12px;
    // padding: 2rem;
  }

  /* Post image */
  .post-image {
    .image-wrapper {
      img {
        max-width: 100%;
        border-radius: 10px;
      }
    }
  }

  /* Title */
  .post-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $dark;
    line-height: 1.5;
  }

  /* Description */
  .post-description {
    font-size: 1rem;
    color: $text;
    line-height: 1.8;
  }

  /* Links section */
  .post-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .links-title {
      font-size: 1.2rem;
      color: $second;
    }

    .post-link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $dark;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      img {
        width: 20px;
        height: 20px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Stats row */
  .post-stats {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

    .stat-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.25rem;
      color: $gray;
      font-size: 14px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  /* Comments */
  .comments-section {
    .comments-title {
      margin-bottom: 1rem;
      color: $dark;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
  .comment-card {
    margin-bottom: 1rem;
    background-color: $InputBG;
    padding: 0.5rem;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .user {
      font-size: 14px;
      font-weight: 400;
      color: $gray;
    }
    .comment {
      font-size: 1rem;
      font-weight: 700;
    }
    .data-time {
      text-align: left;
      color: $grayLight;
      font-size: 11px;
    }
  }

  /* Responsive adjustments */
  @media (max-width: 576px) {
    .container {
      padding: 1rem;
    }

    .post-title {
      font-size: 1.4rem;
    }

    .post-stats {
      gap: 1rem;
    }
  }
}
