@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin sectionWrapper {
  padding: 16px;
  border-radius: $borderRadius;
  background-color: $white;
  margin-bottom: 16px;
  @include labtop-layout() {
    padding: 8px;
  }
}

@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Responsive Layout Mixins
@mixin labtop-layout {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablet-layout {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin small-mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

// Hide scrollbar but keep functionality
@mixin hide-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #989898 #fff;
}

$main: #214b92;
$main10: rgb(33, 75, 146, 0.1);
$main25: rgb(33, 75, 146, 0.25);
$main08: rgb(33, 75, 146, 0.08);
$mainLight: rgba(33, 75, 146, 0.8);
$dashboardBg: #f8f8f8;
$second: #5fcafa;
$secondHover: #32b3e6;
$second25: rgb(95, 202, 250, 0.25);
$second5: rgb(95, 202, 250, 0.05);
$button: #8c137e;
$dark: #0d0d0d;
$border: #dddddd;
$inputBG: #f8f8f8;
$inputHint: #aaaaaa;
$gray: #777777;
$grayLight: #777777cc;
$lightGray: #eeeeee;
$text: #666b88;
$white: #fff;
$third25: #fff5e2;
$JumbotronHead: #4f4f4f;
$inputStroke: #f2f2f2;
$success: #34b53a;
$successLight: #34b53acc;
$danger: #ff3a29;
$eidtAction: #6c757d;
$dangerLight: #dc3545cc;
$borderRadius: 12px;
$transition: 0.3s ease-in-out;

body {
  direction: rtl;
  font-family: "Dubai";
  background-color: $white;
  // overflow: hidden;
  main {
    min-height: calc(100vh - 80px);
  }

  &.en {
    direction: ltr;
    font-family: "Roboto", sans-serif;
  }
}

/* WebKit-based browsers (Chrome, Safari, Edge Chromium) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

@mixin pulse($name, $color) {
  @keyframes #{$name} {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($color, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 8px rgba($color, 0);
    }
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($color, 0);
    }
  }
}

button,
input,
select,
textarea {
  @include clearInput();
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: unset;
}

a,
button {
  text-decoration: none;
  transition: var(--transition);
  color: #000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input[type="number"] {
  // Chrome, Safari, Edge
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Firefox
  -moz-appearance: textfield;
  appearance: textfield;
}

.link-styles {
  text-decoration: underline;
  color: $main;
}
.custom-badge {
  background-color: var(--badge-color) !important;
  color: var(--text-color) !important;
}
// .form-switch {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   flex-direction: row-reverse;
//   padding: 0;
//   gap: 32px;
//   label {
//     margin: 0;
//     font-size: 14px;
//   }
//   input {
//     margin-left: 0 !important;
//     float: unset !important;
//     &:checked {
//       background-color: $main;
//     }
//   }
// }

.error-page {
  background-color: #f8f9fa;
  height: 100vh;

  .container {
    padding: 20px;
    height: 100%;
    @include centerFlex();
    flex-direction: column;
  }

  img {
    height: 240px;
  }

  .error-title {
    font-size: 42px;
    color: $dark;
    margin-bottom: 10px;
    text-align: center;
  }

  .error-description {
    font-size: 14px;
    color: $gray;
    margin-bottom: 24px;
  }

  .button {
    padding: 12px 50px;
    width: fit-content !important;
  }
}
.dropdown-menu {
  border: 0 !important;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  margin-top: 14px !important;
  background: var(--dropdown-bg);
  border-radius: 8px;
  padding: 8px;
  span {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--input-stroke);
    margin: 8px 0;
  }
  a {
    text-align: start;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    color: var(--main);
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    gap: 8px;
    &:active {
      background: $white;
    }
    i {
      width: 18px;
    }
  }
}

.row {
  margin: 0;
}

.dropdown-toggle::after {
  display: none;
}

.invalid-feedback {
  display: block;
}

.button--add {
  background-color: $button !important;
  border-radius: $borderRadius;
}
.button--cancel {
  background-color: $danger !important;
  border-radius: $borderRadius;
}

// Select customization
.css-t3ipsp-control {
  border-color: $grayLight !important;
  box-shadow: none !important;
  &:hover {
    background-color: $white !important;
  }
}

.css-13cymwt-control {
  border-color: $grayLight !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  z-index: 999999 !important;
}

.css-mohuvp-dummyInput-DummyInput {
  left: 0 !important;
}

.css-1hac4vs-dummyInput {
  width: 0 !important;
}

// Placeholders & Loaders

.data-loader {
  flex: 1;
  @include centerFlex();
  flex-direction: column;
  .loader--style8 {
    width: 80px;
    height: 80px;
  }
  svg path,
  svg rect {
    fill: var(--main);
  }
}

.map_loader {
  width: 100%;
  height: 100%;
  @include centerFlex();
  background: var(--close-hover);
  i {
    font-size: 32px;
    color: var(--main);
  }
}

.back-to-top {
  position: fixed;
  z-index: 99;
  right: 8px;
  bottom: 88px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(30px);
  &.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &::before {
    position: absolute;
    font-family: "Font Awesome 6 Pro";
    content: "\f062";
    text-align: center;
    line-height: 45px;
    opacity: 1;
    height: 45px;
    width: 45px;
    font-size: 16px;
    font-weight: 600;
    color: var(--main);
  }
  svg.progress-circle path {
    stroke: var(--main);
    stroke-width: 4;
  }
}

.noComments {
  margin: auto 0;
  @include centerFlex();
  color: var(--input-hint);
}

.empty-section {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  h2 {
    margin: 0;
    text-align: center;
    text-wrap: balance;
    font-size: 36px;
    font-weight: 800;
    color: #cecece;
    line-height: 1.6;
  }
}

.error-section {
  padding: 60px 16px;
  @include centerFlex();
  gap: 16px;
  flex-direction: column;
  align-items: center;
  img {
    height: 300px;
    margin-bottom: 24px;
    @media screen and (max-width: 576px) {
      height: 230px;
    }
  }
  h2 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: var(--main);
    line-height: 1.7;
    max-width: 600px;
    margin: 0 auto;
    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
  }
  a {
    color: var(--main);
    border: 1px solid var(--main);
    position: relative;
    transition: var(--transition);
    @include centerFlex();
    padding: 8px 24px;
    transition: var(--transition);
    border-radius: 12px;
    gap: 8px;
    background: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    transition: var(--transition);
    i {
      font-size: 16px;
    }
    &:hover {
      color: $white;
      border-color: var(--main);
      background-color: var(--main);
    }
  }
}

// Phone Input customization
.react-tel-input {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid $inputStroke;
  background: $inputBG;
  height: 52px;
  border-radius: 12px;
  direction: ltr;
  .form-control {
    width: 100%;
    height: 100%;
    color: var(--main);
    font-size: 14px;
    background: $inputBG;
    padding: 8px;
    border-radius: 12px;
    direction: ltr;
    border: 0;
  }

  .flag-dropdown {
    background: transparent;
    border: none;
    position: static;
    border-radius: 12px 0 0 12px;
    min-width: 52px;
    &.open {
      background: $inputBG;
      border-radius: 12px;
      .selected-flag {
        border-radius: 12px;
        background: $inputBG;
      }
    }
  }

  .selected-flag {
    background: transparent;
    padding: 0;
    width: 100%;
    border-radius: 12px;
    @include centerFlex();
    .arrow {
      border-top-color: var(--main);
      &.up {
        border-bottom-color: var(--main);
      }
    }
    &:hover,
    &:focus {
      background: $inputBG;
    }
  }

  .country-list {
    width: 100%;
    left: 0;
    background: var(--dropdown-bg);
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    box-shadow: var(--shadow);
    margin-top: 4px;
    scrollbar-width: none;
    .search {
      padding: 8px;
      input {
        margin: 0;
        border: 1px solid var(--input-stroke);
        height: 42px;
        border-radius: 8px;
        direction: ltr !important;
      }
      background: $white;
      span {
        display: none;
      }
    }
    .country {
      color: var(--main);
      padding: 8px 10px;
      &:hover {
        background: $inputBG;
      }
      &.highlight {
        background: $inputBG;
      }
    }
    .dial-code {
      color: var(--gray);
    }
  }
}

.stars_rate {
  display: flex;
  align-items: center;
  gap: 16px;
  .stars {
    display: flex;
    align-items: center;
    gap: 2px;
    span {
      color: var(--gray);
      font-size: 16px;
      margin: 0;
    }
    img {
      height: 14px;
    }
  }
}

.calender_modal {
  p {
    color: var(--gray);
    font-size: 16px;
  }
}

// calender
.calender_modal .rmdp-calendar {
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 8px;
  background: $white;
}

.rmdp-wrapper {
  background: $white !important;
}

.rmdp-day {
  width: 52px !important;
  height: 52px !important;
  font-size: 16px !important;
  color: var(--main) !important;
  transition: var(--transition);
  span:hover {
    background-color: var(--close-hover) !important;
    color: var(--main) !important;
  }
  &.rmdp-today span {
    background-color: var(--close-hover) !important;
    color: var(--main) !important;
  }
  &.rmdp-disabled {
    color: var(--gray) !important;
    cursor: not-allowed !important;
    span {
      text-decoration: line-through !important;
      cursor: not-allowed !important;
      &:hover {
        background-color: transparent !important;
        color: var(--gray) !important;
      }
    }
  }
}

.rmdp-arrow-container {
  width: 24px !important;
  height: 24px !important;
  @include centerFlex();
  position: relative;
  i {
    display: none;
  }
  &::before {
    font-family: "Font Awesome 6 Pro";
    content: "\f104";
    font-size: 14px;
    color: var(--main);
    @include centerAbsolute();
  }
  &.rmdp-right::before {
    content: "\f105";
  }
  &:hover {
    background: var(--close-hover) !important;
    box-shadow: none !important;
  }
  &.disabled {
    cursor: not-allowed !important;
    &::before {
      color: var(--gray) !important;
    }
    &:hover {
      background: transparent !important;
      box-shadow: none !important;
    }
  }
}

.rmdp-range {
  background: var(--main) !important;
  box-shadow: none !important;
  color: $white !important;
  &.rmdp-today span {
    background: var(--main) !important;
    color: $white !important;
  }
}

.rmdp-week:first-child {
  margin-bottom: 16px;
  .rmdp-week-day {
    color: var(--main) !important;
  }
}

.rmdp-header-values {
  color: var(--main) !important;
}

.rmdp-shadow {
  box-shadow: none !important;
}

.calender_wrapper {
  min-height: 384px;
}

.rmdp-week-day {
  width: 52px !important;
}

// tab component

.tab-list {
  display: flex;
  align-items: start;
  justify-content: start;
  cursor: pointer;
  gap: 8px;
  flex-direction: column;
  background-color: $white;
  padding: 16px;
  border-radius: $borderRadius;
  overflow: hidden;

  .tab-item {
    width: 100%;
    .btn__tab-item {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      border-radius: $borderRadius;
      color: $main;
      width: 100%;
      padding: 10px 16px;
      transition: $transition;
      background-color: $white;
      &.active {
        background-color: $dashboardBg;
        color: $main;
      }
      &:hover {
        background-color: $dashboardBg;
      }
    }
  }
}

// form-wrapper
.form__wrapper--custom {
  @include sectionWrapper();
  .form__header {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 16px;
    @include tablet-layout() {
      font-size: 18px;
    }
  }
}

.apexcharts-canvas * {
  font-family: "Dubai";
}
.tab-radio-group {
  display: flex;
  border: 1px solid $inputStroke;
  border-radius: $borderRadius;
  overflow: hidden;
  background-color: $inputBG;
  padding: 0;
  input[type="radio"] {
    display: none;
  }

  label {
    flex: 1;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: $borderRadius;
    position: relative;
  }

  input[type="radio"]:checked + label {
    background-color: $main;
    color: $white;
    z-index: 1;
  }
}
