@use "./mixins" as *;
@use "./variables" as *;
* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #989898 #fff;
}

/* WebKit-based browsers (Chrome, Safari, Edge Chromium) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

button,
input,
select,
textarea {
  @include clearInput();
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: unset;
}

a,
button {
  text-decoration: none;
  transition: $transition;
  color: #000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input[type="number"] {
  // Chrome, Safari, Edge
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Firefox
  -moz-appearance: textfield;
  appearance: textfield;
}

// .container {
//   padding: 0;
// }

.custom-badge {
  background-color: var(--badge-color) !important;
  color: var(--text-color) !important;
}

.error-page {
  background-color: #f8f9fa;
  height: 100dvh;

  .container {
    padding: 20px;
    height: 100%;
    @include centerFlex();
    flex-direction: column;
  }

  img {
    height: 240px;
  }

  .error-title {
    font-size: 42px;
    color: $dark;
    margin-bottom: 10px;
    text-align: center;
  }

  .error-description {
    font-size: 14px;
    color: $gray;
    margin-bottom: 24px;
  }

  .button {
    padding: 12px 50px;
    width: fit-content !important;
  }
}

.dropdown-menu {
  border: 1px solid $InputStroke !important;
  margin-top: 12px !important;
  background: $white;
  border-radius: 8px;
  padding: 8px;

  span {
    display: block;
    width: 100%;
    height: 1px;
    background: $InputStroke;
    margin: 8px 0;
  }
  a {
    text-align: start;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    color: $main;
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    gap: 8px;
    &:active {
      background: $white;
    }
    i {
      width: 18px;
    }
  }
}

.row {
  margin: 0;
}

.dropdown-toggle {
  &:focus,
  &:focus-visible {
    box-shadow: none !important;
  }
  &::after {
    display: none;
  }
}

.invalid-feedback {
  display: block;
}

li[data-sonner-toast=""] {
  padding: 12px;
}
.error-text {
  color: $danger !important;
  font-size: 0.8rem !important;
  margin-top: 4px !important;
}
// Select customization
.css-t3ipsp-control {
  border-color: $grayLight !important;
  box-shadow: none !important;
  &:hover {
    background-color: $white !important;
  }
}

.css-13cymwt-control {
  border-color: $grayLight !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  z-index: 999999 !important;
}

.css-mohuvp-dummyInput-DummyInput {
  left: 0 !important;
}

.css-1hac4vs-dummyInput {
  width: 0 !important;
}
.react-select__control {
  overflow: hidden;
  align-items: start;
  .react-select__value-container {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .react-select__indicators {
    max-height: 54px;
    align-items: center;
  }
}

// Placeholders & Loaders

.data-loader {
  flex: 1;
  @include centerFlex();
  flex-direction: column;
  .loader--style8 {
    width: 80px;
    height: 80px;
  }
  svg path,
  svg rect {
    fill: var(--main);
  }
}

.map_loader {
  width: 100%;
  height: 100%;
  @include centerFlex();
  background: var(--close-hover);
  i {
    font-size: 32px;
    color: var(--main);
  }
}

.empty-section {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  h2 {
    margin: 0;
    text-align: center;
    text-wrap: balance;
    font-size: 36px;
    font-weight: 800;
    color: #cecece;
    line-height: 1.6;
  }
}

.error-section {
  padding: 60px 16px;
  @include centerFlex();
  gap: 16px;
  flex-direction: column;
  align-items: center;
  img {
    height: 300px;
    margin-bottom: 24px;
    @media screen and (max-width: 576px) {
      height: 230px;
    }
  }
  h2 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: var(--main);
    line-height: 1.7;
    max-width: 600px;
    margin: 0 auto;
    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
  }
  a {
    color: var(--main);
    border: 1px solid var(--main);
    position: relative;
    transition: var(--transition);
    @include centerFlex();
    padding: 8px 24px;
    transition: var(--transition);
    border-radius: 12px;
    gap: 8px;
    background: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    transition: var(--transition);
    i {
      font-size: 16px;
    }
    &:hover {
      color: $white;
      border-color: var(--main);
      background-color: var(--main);
    }
  }
}

// Phone Input customization
.react-tel-input {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid $InputStroke;
  background: $InputBG;
  height: 56px;
  border-radius: 12px;
  direction: ltr;
  .form-control {
    width: 100%;
    height: 100%;
    color: $main;
    font-size: 14px;
    background: $InputBG;
    padding: 8px;
    border-radius: 0 12px 12px 0px;
    direction: ltr;
    border: 0;
  }

  .flag-dropdown {
    background: transparent;
    border: none;
    position: static;
    border-radius: 12px 0 0 12px;
    min-width: 52px;
    &.open {
      background: $InputBG;
      border-radius: 12px;
      .selected-flag {
        border-radius: 12px;
        background: $InputBG;
      }
    }
  }

  .selected-flag {
    background: $InputBG;
    padding: 0;
    width: 100%;
    border-radius: 12px 0 0 12px;
    border: 0;
    @include centerFlex();
    .arrow {
      border-top-color: var(--main);
      &.up {
        border-bottom-color: var(--main);
      }
    }
    &:hover,
    &:focus {
      background: $InputBG;
    }
  }

  .country-list {
    width: 100%;
    left: 0;
    background: $white !important;
    border: 1px solid $InputStroke;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    margin-top: 4px;
    scrollbar-width: none;
    .search {
      padding: 8px;
      width: 100%;
      input {
        width: 100%;
        margin: 0;
        border: 1px solid $InputStroke;
        height: 42px;
        border-radius: 8px;
        direction: ltr !important;
      }
      background: $white;
      span {
        display: none;
      }
    }
    .country {
      color: var(--main);
      padding: 8px 10px;
      &:hover {
        background: $InputBG;
      }
      &.highlight {
        background: $InputBG;
      }
    }
    .dial-code {
      color: var(--gray);
    }
  }
}

// stars Rate Component
.stars_rate {
  display: flex;
  align-items: center;
  gap: 16px;
  .stars {
    display: flex;
    align-items: center;
    gap: 2px;
    span {
      color: $gray;
      font-size: 16px;
      margin: 0;
    }
    img {
      height: 14px;
    }
  }
}

.apexcharts-canvas * {
  font-family: "Dubai";
}

.skeleton {
  background: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 6px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.loading-container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  border-radius: 100px;
  background-color: #737475 !important;
}

// Range slider
.range-slider {
  height: 4px;
  margin-top: 12px;
  background-color: $main25;
  .range-slider__thumb {
    height: 14px;
    width: 14px;
    border: 1px solid $white;
    box-shadow: 0 0 10.1px -1px $main;
    box-shadow: none !important;
  }
  .range-slider__range {
    height: 4px;
    background-color: $main;
    color: $main;
  }
}

.react-select__control {
  border-radius: 12px !important;
  height: 54px !important;
}
.react-select__input-container {
  height: 44px !important;
}
.react-select__menu {
  z-index: 1050 !important;
}
.css-nhoipr-menu {
  z-index: 9999999 !important;
  max-height: 200px !important;
}

.input-label-hint {
  font-size: 12px;
  color: $gray;
  margin-top: 4px;
  font-weight: 400;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
