$main: #214b92;
$main8: #02489614;
$main10: rgb(33, 75, 146, 0.1);
$main25: rgb(33, 75, 146, 0.25);
$main08: rgb(33, 75, 146, 0.08);
$mainLight: rgba(33, 75, 146, 0.8);
$second: #5fcafa;
$secondHover: #32b3e6;
$second25: rgb(95, 202, 250, 0.25);
$second5: rgb(95, 202, 250, 0.05);
$secondColor12: #5fcafa1f;
$secondColor08: #5fcafa14;
$secondColorDark: #13aef3;
$dashboardBg: #f8f8f8;
$clientYellow: #fdcb2f;
$button: #8c137e;
$dark: #0d0d0d;
$border: #dddddd;
$InputBG: #f8f8f8;
$inputHint: #aaaaaa;
$gray: #777777;
$grayLight: #777777cc;
$lightGray: #eeeeee;
$text: #666b88;
$white: #fff;
$third25: #fff5e2;
$JumbotronHead: #4f4f4f;
$InputStroke: #0d0d0d18;
$InputBG: #0d0d0d05;
$fire: #ff7a59;
$success: #34b53a;
$successLight: #34b53acc;
$danger: #ff3a29;
$dangerLight: #dc3545cc;
$eidtAction: #6c757d;
$borderRadius: 12px;
$online: #00ff44;
$transition: 0.3s ease-in-out;

@import "./mixins";
@import "./utils";

* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #989898 #fff;
}

/* WebKit-based browsers (Chrome, Safari, Edge Chromium) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

button,
input,
select,
textarea {
  @include clearInput();
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: unset;
}

a,
button {
  text-decoration: none;
  transition: $transition;
  color: #000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input[type="number"] {
  // Chrome, Safari, Edge
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Firefox
  -moz-appearance: textfield;
  appearance: textfield;
}

.custom-badge {
  background-color: var(--badge-color) !important;
  color: var(--text-color) !important;
}

.error-page {
  background-color: #f8f9fa;
  height: 100vh;

  .container {
    padding: 20px;
    height: 100%;
    @include centerFlex();
    flex-direction: column;
  }

  img {
    height: 240px;
  }

  .error-title {
    font-size: 42px;
    color: $dark;
    margin-bottom: 10px;
    text-align: center;
  }

  .error-description {
    font-size: 14px;
    color: $gray;
    margin-bottom: 24px;
  }

  .button {
    padding: 12px 50px;
    width: fit-content !important;
  }
}

.dropdown-menu {
  border: 0 !important;
  margin-top: 14px !important;
  background: $white;
  border-radius: 8px;
  padding: 8px;
  span {
    display: block;
    width: 100%;
    height: 1px;
    background: $InputStroke;
    margin: 8px 0;
  }
  a {
    text-align: start;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    color: $main;
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    gap: 8px;
    &:active {
      background: $white;
    }
    i {
      width: 18px;
    }
  }
}

.row {
  margin: 0;
}

.dropdown-toggle::after {
  display: none;
}

.invalid-feedback {
  display: block;
}

// Select customization
.css-t3ipsp-control {
  border-color: $grayLight !important;
  box-shadow: none !important;
  &:hover {
    background-color: $white !important;
  }
}

.css-13cymwt-control {
  border-color: $grayLight !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  z-index: 999999 !important;
}

.css-mohuvp-dummyInput-DummyInput {
  left: 0 !important;
}

.css-1hac4vs-dummyInput {
  width: 0 !important;
}

// Placeholders & Loaders

.data-loader {
  flex: 1;
  @include centerFlex();
  flex-direction: column;
  .loader--style8 {
    width: 80px;
    height: 80px;
  }
  svg path,
  svg rect {
    fill: var(--main);
  }
}

.map_loader {
  width: 100%;
  height: 100%;
  @include centerFlex();
  background: var(--close-hover);
  i {
    font-size: 32px;
    color: var(--main);
  }
}

.empty-section {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  h2 {
    margin: 0;
    text-align: center;
    text-wrap: balance;
    font-size: 36px;
    font-weight: 800;
    color: #cecece;
    line-height: 1.6;
  }
}

.error-section {
  padding: 60px 16px;
  @include centerFlex();
  gap: 16px;
  flex-direction: column;
  align-items: center;
  img {
    height: 300px;
    margin-bottom: 24px;
    @media screen and (max-width: 576px) {
      height: 230px;
    }
  }
  h2 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: var(--main);
    line-height: 1.7;
    max-width: 600px;
    margin: 0 auto;
    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
  }
  a {
    color: var(--main);
    border: 1px solid var(--main);
    position: relative;
    transition: var(--transition);
    @include centerFlex();
    padding: 8px 24px;
    transition: var(--transition);
    border-radius: 12px;
    gap: 8px;
    background: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    transition: var(--transition);
    i {
      font-size: 16px;
    }
    &:hover {
      color: $white;
      border-color: var(--main);
      background-color: var(--main);
    }
  }
}

// Phone Input customization
.react-tel-input {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid $InputStroke;
  background: $InputBG;
  height: 52px;
  border-radius: 12px;
  direction: ltr;
  .form-control {
    width: 100%;
    height: 100%;
    color: $main;
    font-size: 14px;
    background: $InputBG;
    padding: 8px;
    border-radius: 12px;
    direction: ltr;
    border: 0;
  }

  .flag-dropdown {
    background: transparent;
    border: none;
    position: static;
    border-radius: 12px 0 0 12px;
    min-width: 52px;
    &.open {
      background: $InputBG;
      border-radius: 12px;
      .selected-flag {
        border-radius: 12px;
        background: $InputBG;
      }
    }
  }

  .selected-flag {
    background: transparent;
    padding: 0;
    width: 100%;
    border-radius: 12px;
    @include centerFlex();
    .arrow {
      border-top-color: var(--main);
      &.up {
        border-bottom-color: var(--main);
      }
    }
    &:hover,
    &:focus {
      background: $InputBG;
    }
  }

  .country-list {
    width: 100%;
    left: 0;
    background: var(--dropdown-bg);
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    box-shadow: var(--shadow);
    margin-top: 4px;
    scrollbar-width: none;
    .search {
      padding: 8px;
      input {
        margin: 0;
        border: 1px solid var(--input-stroke);
        height: 42px;
        border-radius: 8px;
        direction: ltr !important;
      }
      background: $white;
      span {
        display: none;
      }
    }
    .country {
      color: var(--main);
      padding: 8px 10px;
      &:hover {
        background: $InputBG;
      }
      &.highlight {
        background: $InputBG;
      }
    }
    .dial-code {
      color: var(--gray);
    }
  }
}

// stars Rate Component
.stars_rate {
  display: flex;
  align-items: center;
  gap: 16px;
  .stars {
    display: flex;
    align-items: center;
    gap: 2px;
    span {
      color: $gray;
      font-size: 16px;
      margin: 0;
    }
    img {
      height: 14px;
    }
  }
}

.apexcharts-canvas * {
  font-family: "Dubai";
}
