@import url("https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap");

@font-face {
  font-family: "Dubai";
  src: url("../webfonts/Dubai-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Dubai";
  src: url("../webfonts/Dubai-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Dubai";
  src: url("../webfonts/Dubai-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Dubai";
  src: url("../webfonts/Dubai-Light.ttf") format("truetype");
  font-weight: 300;
}
