@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

.footer2 {
  padding: 30px 0;
  // background: #F2F2F2;
  background: #f7f9fc;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.08);
  height: auto;
  margin-top: 50px;

  .logo {
    margin-bottom: 24px;
    @include centerFlex();
    width: fit-content;

    img {
      height: 52px;
    }
  }

  .news_letter {
    border-bottom: 1px solid #bbb7b73f;
    @include space-between();
    margin-bottom: 32px;
    padding: 0 0 32px;
    gap: 16px;

    @media screen and (max-width: 450px) {
      flex-direction: column;
      align-items: flex-start;
    }

    h6 {
      color: $gray;
      margin: 0;
      font-size: 24px;
      font-weight: 400;

      @media screen and (max-width: 450px) {
        font-size: 18px;
      }
    }

    form {
      background: $white;
      border-radius: 8px;
      display: flex;
      overflow: hidden;

      input {
        height: 52px;
        padding: 12px;
        width: 350px;
        border: none;
        outline: none;
        background: none;

        @media screen and (max-width: 450px) {
          width: 230px;
        }
      }

      button {
        background: $second;
        color: $gray;
        height: 52px;
        padding: 0 24px;
      }
    }
  }

  .description {
    color: $gray;
    font-size: 14px;
    max-width: 350px;
  }

  .title {
    color: black;
    font-size: 18px;
    margin-bottom: 24px;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background: $second;
      margin-top: 12px;
      transform: skew(-30deg);
    }
  }

  .links_list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      color: $main;
      font-size: 14px;

      a {
        color: $gray;
        font-size: 14px;
        transition: $transition;

        &:hover {
          color: $second;
        }
      }
    }
  }

  .copyright {
    padding: 24px 0;
    margin-top: 24px;
    @include space-between();
    border-top: 1px solid #ffffff3f;

    @media screen and (max-width: 450px) {
      flex-direction: column-reverse;
      gap: 24px;
      margin-bottom: 60px;
    }

    p {
      color: $main;
      font-size: 14px;
      margin: 0;

      span {
        color: $second;
      }
    }

    .socials {
      display: flex;
      align-items: center;
      gap: 24px;

      a {
        color: $gray;
        transition: $transition;

        &:hover {
          color: $second;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    flex-direction: column-reverse;
    gap: 16px;
  }
}
