.form_ui {
  width: 100%;
  .input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    .main-elements {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4px;
      h6 {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .pass-group {
      display: flex;
      .show-pass {
        @include centerFlex();
        cursor: pointer;
        width: 60px;
        height: 54px;
        border: 1px solid $inputStroke;
        background: $inputBG;
        border-left: 0;
        border-radius: 0 12px 12px 0 !important;
        color: $inputHint;
      }
      input {
        border-right: 0 !important;
        border-radius: 12px 0 0 12px !important;
        &.ar {
          border-left: 0 !important;
          border-radius: 0 12px 12px 0 !important;
        }
      }
      &.ar {
        .show-pass {
          border-right: 0;
          border-radius: 12px 0 0 12px !important;
        }
        input {
          border-left: 0 !important;
          border-radius: 0 12px 12px 0 !important;
        }
      }
    }
    .phone-group {
      .PhoneInput {
        display: flex;
        gap: 12px;
        .PhoneInputCountryIcon {
          position: relative;
        }
        .PhoneInputCountryIconImg {
          width: 20px;
          position: absolute;
          top: -33px;
          left: 10px;
        }
        select {
          padding: 12px 6px 12px 36px;
        }
      }
      .phone-code {
        height: 54px;
        border-radius: 4px;
      }
    }
    .searchMapGroup {
      gap: 8px;
      display: flex;
      button {
        min-width: 54px;
        height: 54px;
        border-radius: 12px;
        @include clearInput();
        background-image: url("/sys-icons/mapIcon.svg");
      }
      span {
        width: 100%;
        height: 54px;
        overflow: hidden;
        outline: none;
        border: 1px solid $inputStroke;
        border-radius: 12px;
        color: $inputHint;
        background: $inputBG;
        padding: 12px 16px;
      }
    }
    input,
    select,
    textarea {
      width: 100%;
      height: 54px;
      display: block;
      outline: none;
      border: 1px solid $inputStroke;
      border-radius: 12px;
      background: $inputBG;
      padding: 12px 16px;
      box-shadow: none !important;
    }
    textarea {
      height: 152px;
    }
    label {
      color: $dark;
      font-weight: 500;
      font-size: 14px;
      span {
        font-size: 12px;
        color: $gray;
      }
    }
    select {
      color: $dark;
      cursor: pointer;
      &.disable {
        pointer-events: none;
        background: $border;
        color: $grayLight;
      }
    }
    &.files {
      .filepond--root .filepond--drop-label {
        min-height: 100%;
        label {
          color: $inputHint;
          font-size: 14px !important;
          font-weight: 400 !important;
        }
      }
    }
    .checkboxs_inputs {
      display: flex;
      width: 100%;
      height: 54px;
      border: 1px solid $inputStroke;
      border-radius: 12px;
      position: relative;
      isolation: isolate;
      overflow: hidden;
      label {
        cursor: pointer;
        flex: 1;
        @include centerFlex();
        span {
          font-size: 16px;
          font-weight: 400;
          color: $dark;
          cursor: pointer;
          transition: $transition;
        }
        input {
          display: none;
          appearance: none;
          &:checked + span {
            color: $white;
          }
        }
      }
      .bg-active {
        transition: $transition;
        position: absolute;
        content: "";
        top: 0;
        transform: translateX(0);
        height: 100%;
        width: 50%;
        z-index: -1;
        background: $main;
        border-radius: 12px;
        &.refuse {
          transform: translateX(100%);
        }
      }
    }
    .filepond--root .filepond--drop-label label {
      color: #e2e2e2 !important;
      &.mainImg {
        color: $main !important;
      }
    }
  }
  .check-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    label {
      color: $dark;
      font-weight: 500;
      margin-bottom: 4px;
      span {
        font-size: 14px;
        color: $gray;
      }
    }
    .inputs {
      display: flex;
      gap: 8px;
      label {
        flex: 1;
        height: 54px;
        border-radius: 12px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        input {
          transition: $transition;
          background: $main10;
          cursor: pointer;
          appearance: none;
          width: 100%;
          height: 100%;
          &:checked {
            background-color: $main;
            & + span {
              color: $white;
            }
          }
        }
        span {
          color: $main;
          @include centerAbsolute();
          font-size: 16px !important;
        }
      }
    }
  }
  .simiLabel {
    color: $dark;
  }
  .check_field {
    width: 100%;
    padding: 12px 16px;
    border: 1px dashed $inputHint;
    border-radius: 12px;
    .form-check {
      width: 100%;
      @include space-between();
      flex-direction: row-reverse;
      padding-left: 0 !important;
      input {
        cursor: pointer;
        box-shadow: none !important;
      }
      label {
        width: 100%;
        display: block;
        cursor: pointer;
      }
    }
  }
  .time-units {
    display: flex;
    gap: 8px;
    .units {
      width: 160px;
    }
  }
  .addItem {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid $lightGray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    input {
      appearance: none;
      display: none;
    }
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      h6 {
        margin: 0;
        color: $text;
        font-size: 16px;
        font-weight: 400;
      }
      i {
        color: $text;
        width: 16px;
        font-size: 14px;
        font-weight: 600;
        @include centerFlex();
      }
    }
    &.active {
      background: $main10;
      border-color: transparent;
      label {
        h6 {
          color: $main;
        }
        i {
          color: $dark;
        }
      }
    }
  }
  .submit_btn {
    width: 200px;
    @include clearInput();
    height: 52px;
    border: 1px solid $main;
    color: $white;
    border-radius: 12px;
    background-color: $main;
  }
  .elements {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}

.file_upload_grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;

  .images_grid_upload {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .file_upload {
      border: 1px solid $border;
      border-radius: 12px;
      width: calc(100% / 4 - 6px);
      height: 150px;

      label {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        input {
          display: none;
        }

        img {
          height: 60px;
        }

        .file_upload_dimensions {
          color: var(--border-color);
          font-weight: 600;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
        }
      }
    }
    .uploaded_file {
      border: 1px solid $border;
      border-radius: 12px;
      width: calc(100% / 4 - 6px);
      position: relative;
      height: 150px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      button {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: #ff4d4f;
        border: none;
        color: $white;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .doc_icon {
        flex-direction: column;
        gap: 4px;

        span {
          font-size: 10px;
          line-height: normal;
          color: var(--check-color);
        }

        img {
          width: auto;
          height: 50px;
        }
      }
    }
  }
}

.gender_select {
  display: flex;
  flex-direction: column;
  .gender_card {
    background-color: red;
    display: flex;
    gap: 8px;
    background-color: $white;
    color: $dark;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid $white;
    padding: 12px 16px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 400 !important;
    font-size: 14px;
    width: 100%;
    img {
      height: 30px;
      width: 30px;
    }
    &:hover {
      background-color: $main10;
    }
    &.active {
      border: 1px solid $main;
      background-color: $main10;
    }
  }
  & > div {
    display: flex;
    gap: 8px;
  }
  input {
    visibility: hidden;
  }
  label {
    font-weight: 500;
  }
}

.otp-container {
  display: flex;
  gap: 8px;
  .otp-input {
    flex: 1;
    width: 100%;
    height: 80px !important;
    outline: none;
    background: $inputBG;
    border: 1px solid $inputStroke;
    border-radius: 12px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: $main !important;
    &::-webkit-inner-spin-button {
      display: none;
    }
    @media screen and (max-width: 576px) {
      height: 60px !important;
    }
  }
}

.log {
  @include clearInput();
  width: 100%;
  height: 54px;
  background: $main;
  color: $white;
  border-radius: 12px;
  &.fit {
    width: fit-content;
    padding: 0 42px;
  }
}

.button {
  @include clearInput();
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  background: $main;
  border-radius: 12px;
  transition: $transition;
  &:hover {
    background: $mainLight;
  }
  &.success {
    background: $success;
    &:hover {
      background: $successLight;
    }
  }
  &.danger {
    background: $danger;
    &:hover {
      background: $dangerLight;
    }
  }
  &.disabled {
    background: $gray;
    &:hover {
      background: $grayLight;
    }
  }
  &.transparent {
    background: $white;
    border: 1px solid $main;
    color: $main;
  }
}

.form-switch {
  input {
    box-shadow: none !important;
  }
}

.next_btn,
.back_btn {
  width: 74px;
  @include clearInput();
  height: 52px;
  border: 1px solid $dark;
  color: $dark;
  border-radius: 12px;
}

.save_btn {
  @include clearInput();
  height: 52px;
  width: 200px;
  background: $main;
  color: $white;
  border-radius: 12px;
}

.request_partener_section {
  padding: 40px 0 0;
  background: $white;
  h3 {
    font-size: 32px;
    font-weight: 500;
  }
  .desc-text {
    font-size: 18px;
    color: #777777;
  }
  .form_ui {
    h6 {
      color: $dark;
      font-size: 14px;
      margin-bottom: 12px;
    }

    .radios {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
      label {
        display: flex;
        align-items: center;
        cursor: pointer;
        input {
          display: none;
          appearance: none;
          &:checked + span {
            background: $main;
            color: $white;
            border-color: $main;
          }
        }
        span {
          padding: 8px 24px;
          border-radius: 12px;
          white-space: nowrap;
          border: 1px solid $inputStroke;
        }
      }
    }
    .social_field {
      display: flex;
      align-items: center;
      border: 1px solid $inputStroke;
      background: $inputBG;
      border-radius: 12px;
      position: relative;
      gap: 12px;
      padding: 16px;

      img {
        height: 24px;
        width: 24px;
        object-fit: contain;
      }

      input {
        border: 0 !important;
        background: none !important;
        border: none !important;
        height: unset !important;
        padding: 0 !important;

        &::placeholder {
          padding-left: 25px;
          color: red;
        }
        &:focus {
          background-image: none !important;
          &::placeholder {
            padding-left: none !important;
            opacity: 0;
          }
        }
        &:not(:placeholder-shown) {
          background-image: none !important;
        }
      }
    }
  }

  .react-tel-input input {
    border: 0 !important;
    height: unset !important;
  }
}

.thankYou-modal {
  .modal-content {
    border-radius: 24px !important;
  }
  .boat-image {
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: contain;
    align-self: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px h2 {
      color: $dark;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
      padding: 0 54px;
    }
    p {
      color: $text;
      font-size: 16px;
      text-align: center;
      padding: 0 54px;
      margin-bottom: 24px;
    }
  }

  a {
    border-bottom: 1px solid $main;
    color: $main;
    font-size: 16px;
    padding: 4px;
  }
}
