@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

::picker(select) {
  appearance: base-select;
  border: 1px solid $InputStroke;
  border-radius: 4px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.form_ui {
  width: 100%;

  .input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .main-elements {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4px;
      h6 {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .pass-group {
      display: flex;
      .show-pass {
        @include centerFlex();
        cursor: pointer;
        width: 60px;
        height: 54px;
        border: 1px solid $InputStroke;
        background: $InputBG;
        border-right: 0;
        border-radius: 12px 0 0 12px !important;
        color: $inputHint;
      }
      input {
        border-left: 0 !important;
        border-radius: 0 12px 12px 0 !important;
        &.en {
          border-right: 0 !important;
          border-radius: 12px 0 0 12px !important;
        }
      }
      &.en {
        .show-pass {
          border-left: 0;
          border-radius: 0 12px 12px 0 !important;
        }
        input {
          border-right: 0 !important;
          border-radius: 12px 0 0 12px !important;
        }
      }
    }

    .searchMapGroup {
      gap: 8px;
      display: flex;
      button {
        min-width: 54px;
        height: 54px;
        border-radius: 12px;
        @include clearInput();
        background-image: url("../../assets/sys-icons/mapIcon.svg");
      }
      span {
        width: 100%;
        height: 54px;
        overflow: hidden;
        outline: none;
        border: 1px solid $InputStroke;
        border-radius: 12px;
        color: $inputHint;
        background: $InputBG;
        padding: 12px 16px;
      }
    }
    input,
    select,
    textarea {
      width: 100%;
      height: 54px;
      display: block;
      outline: none;
      border: 1px solid $InputStroke;
      border-radius: 12px;
      background: $InputBG;
      padding: 12px 16px !important;
      box-shadow: none !important;
      &:disabled {
        background-color: $lightGray;
        cursor: not-allowed;
      }
    }
    textarea {
      height: 152px;
    }
    label {
      color: $dark;
      font-weight: 600;
      font-size: 16px;
      span {
        font-size: 12px;
        color: $gray;
      }
    }

    select {
      color: $dark;
      cursor: pointer;
      & &.form-select {
        appearance: base-select !important;
      }
      &::picker-icon {
        color: #999999;
        transition: 0.4s rotate;
      }
      &:open::picker-icon {
        rotate: 180deg;
      }
      &.disable {
        pointer-events: none;
        background: $InputStroke;
        color: $grayLight;
      }
    }
    &.files {
      .filepond--root .filepond--drop-label {
        min-height: 100%;
        label {
          color: $inputHint;
          font-size: 14px !important;
          font-weight: 400 !important;
        }
      }
    }
    .checkboxs_inputs {
      display: flex;
      width: 100%;
      height: 54px;
      border: 1px solid $InputStroke;
      border-radius: 12px;
      position: relative;
      isolation: isolate;
      overflow: hidden;
      label {
        cursor: pointer;
        flex: 1;
        @include centerFlex();
        span {
          font-size: 16px;
          font-weight: 400;
          color: $dark;
          cursor: pointer;
          transition: $transition;
        }
        input {
          display: none;
          appearance: none;
          &:checked + span {
            color: $white;
          }
        }
      }
      .bg-active {
        transition: $transition;
        position: absolute;
        content: "";
        top: 0;
        transform: translateX(0);
        height: 100%;
        width: 50%;
        z-index: -1;
        background: $main;
        border-radius: 12px;
        &.refuse {
          transform: translateX(100%);
        }
      }
    }
    .filepond--root .filepond--drop-label label {
      color: #e2e2e2 !important;
      &.mainImg {
        color: $main !important;
      }
    }
  }
  .form_field {
    .form_label {
      color: $dark;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 4px;
      span {
        font-size: 12px;
        color: $gray;
      }
    }
  }
  .check-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    label {
      color: $dark;
      font-weight: 500;
      margin-bottom: 4px;
      span {
        font-size: 14px;
        color: $gray;
      }
    }
    .inputs {
      display: flex;
      gap: 8px;
      label {
        flex: 1;
        height: 54px;
        border-radius: 12px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        input {
          transition: $transition;
          background: $main10;
          cursor: pointer;
          appearance: none;
          width: 100%;
          height: 100%;
          &:checked {
            background-color: $main;
            & + span {
              color: $white;
            }
          }
        }
        span {
          color: $main;
          @include centerAbsolute();
          font-size: 16px !important;
        }
      }
    }
  }
  .simiLabel {
    color: $dark;
  }
  .check_field {
    width: 100%;

    .field-label {
      display: block;
      margin-bottom: 8px;
      color: $dark;
      font-weight: 600;
      font-size: 16px;
    }

    .yes-no-toggle {
      display: flex;
      background: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 12px;
      overflow: hidden;

      .toggle-btn {
        flex: 1;
        padding: 12px 16px;
        border: none;
        background: transparent;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        height: 54px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &.active {
          background: $second;
          color: #fff;
          border-radius: 12px;
        }

        &:not(.active):hover {
          background: #eee;
        }
      }
    }
  }

  .radio {
    display: flex;
    align-items: center;
    gap: 3px;
    label {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      font-weight: 500;
      color: $dark;
      input {
        display: none;
        appearance: none;
        &:checked + span {
          background: $main;
          color: $white;
          border-color: $main;
        }
      }
      span {
        padding: 8px 24px;
        border-radius: 12px;
        white-space: nowrap;
        border: 1px solid $InputStroke;
      }
    }
  }
  .time-units {
    display: flex;
    gap: 8px;
    .units {
      width: 160px;
    }
  }
  .addItem {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid $lightGray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    input {
      appearance: none;
      display: none;
    }
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      h6 {
        margin: 0;
        color: $text;
        font-size: 16px;
        font-weight: 400;
      }
      i {
        color: $text;
        width: 16px;
        font-size: 14px;
        font-weight: 600;
        @include centerFlex();
      }
    }
    &.active {
      background: $main10;
      border-color: transparent;
      label {
        h6 {
          color: $main;
        }
        i {
          color: $dark;
        }
      }
    }
  }
  .submit_btn {
    width: 200px;
    @include clearInput();
    height: 52px;
    border: 1px solid $main;
    color: $white;
    border-radius: 12px;
    background-color: $main;
  }
  .elements {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}

body.en {
  .show-pass {
    border-radius: 0 12px 12px 0 !important;
  }
}

.file_upload_grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;

    .label {
      font-size: 16px;
    }
    small {
      color: $gray;
      font-size: 10px;
    }
  }

  .images_grid_upload {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .file_upload.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    text-align: center;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      border-color: #888;
    }

    &.active {
      border-color: #007bff;
      background-color: #eaf4ff;
    }

    &.single {
      width: 100%;
      // min-height: 220px;
    }

    &.multiple {
      min-height: 120px;
      min-width: 120px;
      max-width: 200px;
    }

    .icon {
      img {
        max-width: 60px;
        margin-bottom: 0.5rem;
      }

      p {
        margin: 0;
        font-size: 0.875rem;
        color: #666;
      }
    }
  }

  .uploads_wrapper.multiple {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .uploaded_file {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &.icon {
        object-fit: contain;
        padding: 10px;
      }
    }

    .delete {
      background: rgba(0, 0, 0, 0.6);
      border: none;
      color: white;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 12px;
      line-height: 1;
      &.multiple {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 22px;
        height: 22px;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }
    }

    &.single {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      // max-height: 220px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .actions {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        gap: 6px;

        button {
          background: rgba(0, 0, 0, 0.6);
          color: #fff;
          border: none;
          border-radius: 6px;
          padding: 4px 8px;
          font-size: 12px;
          cursor: pointer;

          &:hover {
            background: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
  }
}

.otp-container {
  display: flex;
  gap: 8px;
  direction: ltr;
  .otp-input {
    flex: 1;
    width: 100%;
    height: 80px !important;
    outline: none;
    background: $InputBG;
    border: 1px solid $InputStroke;
    border-radius: 12px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: $main !important;
    &::-webkit-inner-spin-button {
      display: none;
    }
    @media screen and (max-width: 576px) {
      height: 60px !important;
    }
  }
}

.log,
.cancle {
  @include clearInput();
  width: 100%;
  background: $main;
  padding: 12px 20px;
  color: $white;
  border-radius: 12px;
  &.fit {
    width: fit-content;
    padding: 0 42px;
  }
}
.cancle {
  background-color: transparent;
  border: 1px solid $gray;
  color: $gray;
}
.button {
  @include clearInput();
  @include centerFlex();
  gap: 8px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  width: fit-content;
  background: $main;
  border-radius: 12px;
  transition: $transition;
  white-space: nowrap;
  &:hover {
    background: $mainLight;
  }
  &.success {
    background: $success;
    &:hover {
      background: $successLight;
    }
  }
  &.danger {
    background: $danger;
    &:hover {
      background: $dangerLight;
    }
  }
  &.disabled {
    background: $gray;
    &:hover {
      background: $grayLight;
    }
  }
  &.transparent {
    background: $white;
    border: 1px solid $main;
    color: $main;
  }
}

.form-switch {
  input {
    box-shadow: none !important;
  }
}

.next_btn,
.back_btn {
  width: 74px;
  @include clearInput();
  height: 52px;
  border: 1px solid $dark;
  color: $dark;
  border-radius: 12px;
}

.save_btn {
  @include clearInput();
  height: 52px;
  width: 200px;
  background: $main;
  color: $white;
  border-radius: 12px;
}

.request_partener_section {
  padding: 40px 0 0;
  background: $white;
  h3 {
    font-size: 32px;
    font-weight: 500;
  }
  .desc-text {
    font-size: 18px;
    color: #777777;
  }
  .form_ui {
    h6 {
      color: $dark;
      font-size: 14px;
      margin-bottom: 12px;
    }
    .social_field {
      display: flex;
      align-items: center;
      border: 1px solid $InputStroke;
      background: $InputBG;
      border-radius: 12px;
      position: relative;
      gap: 12px;
      padding: 16px;

      img {
        height: 24px;
        width: 24px;
        object-fit: contain;
      }

      input {
        border: 0 !important;
        background: none !important;
        border: none !important;
        height: unset !important;
        padding: 0 !important;

        &::placeholder {
          padding-left: 25px;
          color: red;
        }
        &:focus {
          background-image: none !important;
          &::placeholder {
            padding-left: none !important;
            opacity: 0;
          }
        }
        &:not(:placeholder-shown) {
          background-image: none !important;
        }
      }
    }
  }
}

.thankYou-modal {
  .modal-content {
    border-radius: 24px !important;
  }
  .boat-image {
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: contain;
    align-self: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px h2 {
      color: $dark;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
      padding: 0 54px;
    }
    p {
      color: $text;
      font-size: 16px;
      text-align: center;
      padding: 0 54px;
      margin-bottom: 24px;
    }
  }

  a {
    border-bottom: 1px solid $main;
    color: $main;
    font-size: 16px;
    padding: 4px;
  }
}
.hint {
  font-size: 0.8rem;
  color: $clientYellow !important;
  margin-inline-start: 4px;
  font-weight: 500;
}

.gender_select {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 6px;
  label {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
  .gender_card {
    display: flex;
    gap: 8px;
    background-color: transparent;
    color: $second;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    outline: none;
    border: 1px solid $second;
    padding: 0 20px;
    height: 52px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 400 !important;
    font-size: 14px;
    width: 100%;
    img {
      height: 30px;
      width: 30px;
      object-fit: contain;
    }
    &.active {
      color: $white;
      background-color: $second;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  & > div {
    display: flex;
    gap: 8px;
  }
  input {
    visibility: hidden;
    display: none;
  }
  label {
    font-weight: 500;
  }
}
//////
.select-filter {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    font-weight: bold;
  }

  .filter-options {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
  }

  label {
    @include centerFlex();
    padding: 1rem;
    min-width: 96px;
    border: 1px solid $secondColorDark;
    color: $secondColorDark;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease;
    position: relative;

    input[type="checkbox"] {
      display: none;
    }

    &:has(input[type="checkbox"]:checked) {
      background-color: $secondColorDark;
      color: $white;
      border-color: $secondColorDark;
    }
  }
}
////ChargeBalanceModal
.form-group {
  position: relative;

  .input-icon {
    position: absolute;
    left: 5px;
    top: 60%;
    height: 20px;
    pointer-events: none;
  }
}
