@use "sass:color";
@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

.goal-details-section,
.offer-details-section,
.helper-details-section {
  .header {
    display: flex;
    justify-content: space-between;
    position: relative;

    .options-menu {
      cursor: pointer;
      font-size: 1.2rem;
      color: #777;
      z-index: 10;

      .options-list {
        position: absolute;
        left: 0px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 6px;
        min-width: 150px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        z-index: 100;

        button {
          display: block;
          width: 100%;
          padding: 0.5rem 0.75rem;
          font-size: 0.9rem;
          color: #333;
          background: none;
          border: none;
          text-align: right;
          cursor: pointer;

          &:hover {
            background: $main10;
          }
        }
      }
    }
  }
  .goal-details-card {
    .top-info {
      display: flex;
      height: min-content;
      gap: 0.75rem;
      margin-top: 1rem;
      background: $white;
      border-radius: 12px;
      padding: 1.5rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      background-color: $secondColor12;

      .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
      }

      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .personal-info {
          display: flex;
          flex-direction: column;
          h5 {
            padding-bottom: 0.5rem;
            font-size: 1.05rem;
            font-weight: 600;
            color: #333;
          }
          .country {
            display: flex;
            gap: 8px;
            i {
              font-size: 24px;
            }
          }
        }
        .rating {
          display: flex;
          align-items: center;
          span {
            color: $dark;
            margin-inline-start: 6px;
            font-weight: 600;
            margin-top: 4px;
          }
        }

        .info {
          display: flex;
          gap: 2rem;

          i {
            color: $main;
            margin-inline-end: 5px;
          }

          .country,
          .offers {
            font-size: 1rem;
            color: #666;
            margin-top: 0.25rem;
          }
        }
      }
    }
    .hed {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 1rem 0;

      img {
        width: 20px;
        height: 20px;
      }
      h6 {
        color: $dark;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
    .desc {
      color: #444;
      line-height: 1.8;
      font-size: 0.95rem;
      margin-bottom: 1.2rem;
    }

    .info-grid {
      border-radius: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .info-box {
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        padding: 0.5rem;
        height: min-content;
        .label {
          font-size: 0.9rem;
          font-weight: 600;
          color: $second;
          margin-bottom: 0.25rem;
        }

        .value {
          font-size: 1rem;
          font-weight: 600;
          color: $dark;
          display: flex;
          align-items: center;
          gap: 6px;

          img {
            width: 18px;
            height: 18px;
          }
        }
        .flex {
          display: flex;
          justify-content: space-between;
          .bold {
            font-weight: bold;
            img {
              height: 20px;
              margin: 0 10px;
            }
          }
        }
      }

      .info-box.w-50 {
        flex: 1 1 100%;
      }
    }
    .info-tabs {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      margin: 1rem 0;
      .tab-button {
        padding: 8px 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
        cursor: pointer;
        background-color: white;
        color: #444;
        transition: 0.3s ease;

        &:hover {
          background-color: #f5f5f5;
        }

        &.active {
          background-color: $second;
          color: white;
          border-color: $second;
        }
      }
    }

    button {
      padding: 0.75rem 2rem;
      font-weight: bold;
      font-size: 0.9rem;
      margin: 10px 0;

      &:nth-of-type(2) {
        background-color: $second;
      }
      &:hover {
        background-color: darken;
      }
    }
    @media (max-width: 768px) {
      .offer-info {
        flex-direction: column;

        .info-box {
          flex: 1 1 100%;
        }
      }
    }

    .sub-info {
      background: #f3f3f3;
      padding: 0.6rem 0.75rem;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .assist-methods {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .assist-method {
        background: #f3f1f1;
        padding: 0.6rem 0.75rem;
        border-radius: 10px;
        font-size: 0.9rem;
        text-align: center;
      }
      .bg {
        background: #ffffff;
      }
    }
    .contracts-summary-chart {
      text-align: center;
      margin-top: 10px;

      .chart-wrapper {
        position: relative;
        width: 160px;
        margin: auto;

        canvas {
          width: 100% !important;
          height: auto !important;
        }

        .center-number {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 26px;
          font-weight: 700;
          color: #333;
        }
        .centered {
          font-size: 15px;
          font-size: 400;
        }
      }

      .contracts-summary {
        font-size: 14px;
        margin-top: 10px;

        div {
          margin: 4px 0;

          .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 6px;
          }

          .completed {
            background: #20407c;
          }

          .active {
            background: #63c5f9;
          }
        }
      }
    }

    @media (max-width: 576px) {
      padding: 1rem;

      .top-info {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .avatar {
          width: 60px;
          height: 60px;
        }

        .details {
          h5 {
            font-size: 1rem;
          }

          .rating {
            font-size: 0.8rem;
          }

          .country {
            font-size: 0.8rem;
          }
        }
      }

      .info-grid {
        .info-box {
          flex: 1 1 100%;
        }
      }
    }

    .stats {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 20px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
  //   .fixed-request-button {
  //   position: fixed;
  //   bottom: 0px;
  //   z-index: 1000;
  //   background-color: #76d1f8;
  //   width: 100%;

  //   button {
  //     padding: 0.75rem 2rem;
  //     font-weight: bold;
  //     font-size: 0.9rem;
  //     margin: 10px 0;
  //     &:hover {
  //       background-color: darken;
  //     }
  //   }
  // }
}

.contract-status__card {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid $InputStroke;

  &-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: $second;
  }

  &-count {
    font-size: 1.25rem;
    // color: $black;
    font-weight: 700;
  }
}

.gender-goal-filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  p {
    font-weight: bold;
  }

  .filter-options {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    width: 100%;
  }
  label {
    @include centerFlex();
    padding: 1rem;
    min-width: 96px;
    border: 1px solid $secondColorDark;
    color: $secondColorDark;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + &,
    &:has(input[type="radio"]:checked) {
      background-color: $secondColorDark;
      color: $white;
      border-color: $secondColorDark;
    }
  }
}
////
.follow-btn {
  background-color: #4ecdc4;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  transition: background-color 0.3s ease;

  i {
    font-size: 16px;
  }

  &:hover {
    background-color: color.adjust(#4ecdc4, $lightness: -10%);
  }
}
.cancel-btn {
  background-color: transparent;
  color: red;
  font-weight: normal;
  border: 1px solid red;
  padding: 8px 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  transition: background-color 0.3s ease;

  i {
    font-size: 16px;
  }
}
