@use "sass:color";
@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

.goal-details-section,
.offer-details-section,
.helper-details-section {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .goal-details-card {
    padding: 0 !important;
    .top-info {
      display: flex;
      height: min-content;
      gap: 0.75rem;
      background: $white;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      background-color: $secondColor12;

      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }

      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .personal-info {
          display: flex;
          flex-direction: column;
          h5 {
            padding-bottom: 0.5rem;
            font-size: 1.05rem;
            font-weight: 600;
            color: #333;
          }
          .country {
            display: flex;
            gap: 8px;
            i {
              font-size: 24px;
            }
          }
        }
        .rating {
          display: flex;
          align-items: center;
          span {
            color: $dark;
            margin-inline-start: 6px;
            font-weight: 600;
            margin-top: 4px;
          }
        }

        .info {
          display: flex;
          gap: 2rem;

          i {
            color: $main;
            margin-inline-end: 5px;
          }

          .country,
          .offers {
            font-size: 1rem;
            color: #666;
            margin-top: 0.25rem;
          }
        }
      }
    }
    .hed {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      // margin: 1rem 0;

      img {
        width: 20px;
        height: 20px;
      }
      h6 {
        color: $dark;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
    .desc {
      color: #444;
      line-height: 1.8;
      font-size: 0.95rem;
      margin-bottom: 1.2rem;
    }

    .info-tabs {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      margin: 1rem 0;
      .tab-button {
        padding: 8px 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
        cursor: pointer;
        background-color: white;
        color: #444;
        transition: 0.3s ease;

        &:hover {
          background-color: #f5f5f5;
        }

        &.active {
          background-color: $second;
          color: white;
          border-color: $second;
        }
      }
    }
    .add-offer-wrapper {
      background-color: $main08;
      padding: 12px 16px;
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      border-radius: 12px;
      width: fit-content;
      .offers-count {
        display: flex;
        align-items: center;
        gap: 8px;
        i {
          width: 24px;
          height: 24px;
          font-size: 24px;
        }
        .content {
          .head {
            font-size: 12px;
          }
          .desc {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 0;
          }
        }
      }
    }
    @media (max-width: 768px) {
      .offer-info {
        flex-direction: column;

        .info-box {
          flex: 1 1 100%;
        }
      }
    }

    .sub-info {
      background: #f3f3f3;
      padding: 0.6rem 0.75rem;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .assist-methods {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .assist-method {
        background: #f3f1f1;
        padding: 0.6rem 0.75rem;
        border-radius: 10px;
        font-size: 0.9rem;
        text-align: center;
      }
      .bg {
        background: #ffffff;
      }
    }
    .contracts-summary-chart {
      text-align: center;
      margin-top: 10px;

      .chart-wrapper {
        position: relative;
        width: 160px;
        margin: auto;

        canvas {
          width: 100% !important;
          height: auto !important;
        }

        .center-number {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 26px;
          font-weight: 700;
          color: #333;
        }
        .centered {
          font-size: 15px;
          font-size: 400;
        }
      }

      .contracts-summary {
        font-size: 14px;
        margin-top: 10px;

        div {
          margin: 4px 0;

          .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 6px;
          }

          .completed {
            background: #20407c;
          }

          .active {
            background: #63c5f9;
          }
        }
      }
    }

    @media (max-width: 576px) {
      padding: 1rem;

      .top-info {
        // flex-direction: column;
        // align-items: center;/
        // text-align: center;

        .avatar {
          width: 60px;
          height: 60px;
        }

        .details {
          h5 {
            font-size: 1rem;
          }

          .rating {
            font-size: 0.8rem;
          }

          .country {
            font-size: 0.8rem;
          }
        }
      }

      .info-grid {
        .info-box {
          flex: 1 1 100%;
        }
      }
    }

    .stats {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 20px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
}
.info-grid {
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .info-box {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 0.5rem;
    height: min-content;
    .label {
      font-size: 0.9rem;
      font-weight: 600;
      color: $second;
      white-space: nowrap;
      margin-bottom: 0.25rem;
    }

    .value {
      font-size: 1rem;
      font-weight: 600;
      color: $dark;
      display: flex;
      align-items: center;
      // white-space: nowrap;
      gap: 6px;

      img {
        width: 18px;
        height: 18px;
      }
    }
    .flex {
      display: flex;
      justify-content: space-between;
      .bold {
        font-weight: bold;
        img {
          height: 20px;
          margin: 0 10px;
        }
      }
    }
  }

  .info-box.w-50 {
    flex: 1 1 100%;
  }
}
.add-groub-button {
  font-size: 12px;
  color: $main;
  font-weight: bold;
  text-decoration: underline;
}

.contract-status__card {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid $InputStroke;

  &-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: $second;
  }

  &-count {
    font-size: 1.25rem;
    // color: $black;
    font-weight: 700;
  }
}

.gender-goal-filter {
  display: flex;
  flex-direction: column;
  gap: 4px;
  p {
    font-weight: bold;
  }

  .filter-options {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    width: 100%;
  }
  label {
    @include centerFlex();
    padding: 1rem;
    flex: 1;
    border: 1px solid $secondColorDark;
    color: $secondColorDark;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease;
    height: 54px;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + &,
    &:has(input[type="radio"]:checked) {
      background-color: $secondColorDark;
      color: $white;
      border-color: $secondColorDark;
    }
  }
}
////
.follow-btn {
  background-color: $green;
  color: $white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  transition: background-color 0.3s ease;
  i {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
  &.unfollow {
    border: 1px solid $fire;
    background-color: $white;
    color: $fire;
    i {
      color: $fire;
    }
  }
}
.cancel-btn {
  background-color: transparent;
  color: red;
  font-weight: normal;
  border: 1px solid red;
  padding: 8px 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  transition: background-color 0.3s ease;

  i {
    font-size: 16px;
  }
}

.extra-terms {
  margin-top: 8px;
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid $InputStroke;

  h2 {
    font-size: 1rem;
    color: $second;
    margin-bottom: 4px;
  }
  p {
    font-size: 14px;
    color: $dark;
    font-weight: 700;
  }
  .mechanisms-list {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 8px;
    .mech-item {
      font-size: 14px;
      color: $dark;
      font-weight: 700;
      position: relative;
      padding: 0 28px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(/icons/check.svg);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: (50%, 50%);
      }
      &.en {
        &::before {
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.rates {
  h2 {
    font-size: 1.25rem;
    color: $dark;
    font-weight: 700;
    margin: 18px 0;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 1rem;
      color: $second;
    }
    .user-count {
      display: flex;
      align-items: center;
      gap: 12px;
      i {
        width: 20px;
        height: 20px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $second;
      }
      span {
        color: $dark;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  .rate-list {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 8px;
    font-size: 1rem;
    color: $gray;
    li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.reason-form-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  label {
    cursor: pointer;
    font-weight: 700;
  }
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    border: 2px solid $main;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
  }

  /* When checked */
  input[type="radio"]:checked {
    border-color: $main; /* outline color */
    background-color: $main; /* fill color */
  }

  /* Optional hover effect */
  input[type="radio"]:hover {
    border-color: $main;
  }
}

.avg-rates {
  display: flex;
  align-items: center;
  gap: 1rem;
  .avg-value {
    font-size: 64px;
    color: $dark;
    font-weight: 700;
  }
}

// .rate-card {
//   background-color: $InputBG;
//   padding: 1rem;
//   border-radius: 12px;

//   .user {
//     display: flex;
//   }
// }
.rate-card {
  background-color: $InputBG;
  border-radius: 1rem;
  padding: 1rem 1.5rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }

  &__user {
    font-size: 1.1rem;
    font-weight: 600;
    color: #222;
    margin: 0;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__date {
    display: block;
    font-size: 0.85rem;
    color: $gray;
    margin-bottom: 0.75rem;
  }

  &__notes {
    font-size: 1rem;
    line-height: 1.5;
    color: $dark;

    border-radius: 0.5rem;
  }
}
