.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  transition: 0.3s;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

  &.scrolled {
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
      height: 48px;
      transition: 0.3s;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      align-items: center;

      li a {
        color: #333;
        padding: 0.5rem 0;
        position: relative;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
          color:$main;
        }
      }
      .close-btn {
        display: none;
      }
      .mobile-only {
        display: none;
      }

      @media (max-width: 992px) {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        background: white;
        width: 80%;
        height: 100%;
        padding: 2rem 1rem;
        gap: 1rem;
        transition: left 0.3s;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);

        &.active {
          left: 0;
        }

        .close-btn {
          position: absolute;
          top: 1rem;
          right: 1rem;
          font-size: 1.5rem;
          border: none;
          background: none;
          cursor: pointer;
          display: block;
        }

        .mobile-only {
          display: block;
        }
      }
    }

    .actions {
      display: flex;
      gap: 1rem;

      .auth-btn {
        padding: 0.5rem 1.5rem;
        font-size: 0.95rem;
        font-weight: 500;
        border-radius: 15px;
        cursor: pointer;
        text-decoration: none;
        border: 1px solid transparent;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
        transition: background 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
      }

      .login-btn {
        background: transparent;
        border-color:$main;
        color:$main;

        &:hover {
          background:$main;
          color: #fff;
        }
      }

      .register-btn {
        background:$main;
        color: #fff;

        &:hover {
          background: lighten($main, 10%);
        }
      }

      @media (max-width: 992px) {
        display: none;
      }
    }

    .menu-toggler {
      display: none;
      flex-direction: column;
      gap: 6px;
      cursor: pointer;

      span {
        width: 24px;
        height: 2px;
        background: #333;
      }

      @media (max-width: 992px) {
        display: flex;
      }
    }
  }
}
