@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

.main-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  transition: 0.3s;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

  &.scrolled {
    background: $white;
  }
  @include small-mobile {
    padding: 1rem 0.5rem;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .logo img {
      height: 48px;
      @include small-mobile {
        height: 38px;
      }
    }

    .layer {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;

      &.open {
        opacity: 1;
        visibility: visible;
      }
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      transition: 0.3s;
      justify-content: center;

      li a {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: $dark;
        }
        &.active {
          color: $dark;
        }
      }

      .close-btn {
        display: none;
      }

      .mobile-only {
        display: none;
      }

      @media (max-width: 992px) {
        position: fixed;
        display: none;
        overflow-y: auto;
        top: 80px;
        left: -100%;
        flex-direction: column;
        background: $white;
        width: 100%;
        height: calc(100dvh - 156px);
        align-items: flex-start;
        padding: 1rem 2.5rem;
        gap: 1rem;
        transition: 0.3s;
        z-index: 20;

        scrollbar-width: none;

        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }

        &.open {
          left: 0;
          display: flex;
          justify-content: flex-start;
        }

        .close-btn {
          display: block;
          position: absolute;
          top: 1rem;
          left: 1rem;
          font-size: 24px;
          background: none;
          border: none;
          cursor: pointer;
        }

        .mobile-only {
          display: flex;
        }
      }
    }

    .actions {
      display: flex;
      gap: 0.25rem;
      justify-content: center;
      align-items: center;

      .auth-btn {
        border-radius: 20px;
        white-space: nowrap;
        @media (max-width: 992px) {
          display: none;
        }
      }

      .notification-btn {
        border: none !important;
        height: 24px;
        width: 24px;
        // padding: 16px;
        @include centerFlex();

        i {
          color: $main;
          font-size: 24px;
          position: relative;
          .badge {
            font-size: 9px;
            font-weight: 400;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 100%;
            top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $fire !important;
            transform: translate(-50%, -50%);
          }
        }
        // @media (max-width: 992px) {
        //   display: none;
        // }
      }
      .user_dropdown {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        @include centerFlex();
        border: 1px solid $InputStroke;
        background-color: transparent;
        padding: 0;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
        @media (max-width: 992px) {
          display: none;
        }
      }

      .communites-link {
        background-color: $green;
        white-space: nowrap;
        padding: 6px 16px;
        border-radius: 100px;
        @include centerFlex();
        gap: 0.25rem;
        span {
          font-size: 14px;
          color: $dark;
        }
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
.lang_dropdown {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;

  i {
    font-size: 24px;
    margin: 0 8px;
    color: $main;
  }
}
.auth_lang_deropdown {
  border-radius: 100px !important;
  background-color: #5fcafa !important;
  color: white !important;
  border: 1px solid white !important;
  &:hover {
    border-radius: 100px !important;
    background-color: #5fcafa !important;
    color: white !important;
    border: 1px solid white !important;
  }
  &:active {
    border-radius: 100px !important;
    background-color: #5fcafa !important;
    color: white !important;
    border: 1px solid white !important;
  }
}
.toggle_menu {
  display: none;
  font-size: 22px;
  color: #333;
  cursor: pointer;

  &:hover {
    color: $main;
  }
  i {
    width: 22px;
    height: 22px;
  }

  @media (max-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.custom-dropdown-menu {
  border-radius: 16px;
  padding: 10px;
  min-width: 220px;
  background-color: white;

  .dropdown-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 8px 0px;

    i {
      font-size: 14px;
      margin: 0 10px;
      color: $gray;
    }

    &:hover {
      background-color: #f8f9fa;
    }

    &:active {
      color: black;
    }
  }
}

.small_menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 76px;
  z-index: 99;
  background: $main;
  color: $white;
  align-items: center;
  display: none;

  @media screen and (max-width: 991px) {
    display: flex;
  }

  .menu_item {
    @include centerFlex();
    flex-direction: column;
    flex: 1;
    padding: 12px;
    gap: 8px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: $white;

    i {
      font-size: 16px;
      color: $white;
    }

    img {
      height: 20px;
    }

    &.active {
      i {
        color: $second;
      }
      span {
        color: $second;
      }
      img {
        display: inline-block;
        filter: brightness(0) saturate(100%) invert(69%) sepia(37%)
          saturate(1883%) hue-rotate(165deg) brightness(100%) contrast(102%);
      }
    }

    .center {
      width: 42px;
      height: 42px;
      background: $second;
      font-size: 24px;
      color: $white;
      @include centerFlex();
      border-radius: 50%;

      i {
        color: $white;
      }
    }
  }
}
