.myworks {
  display: flex;
  flex-wrap: wrap;
}

 .tab-nav {
    width: 100%;

    @media (min-width: 768px) {
      width: 100%;
    }

    .tab-buttons {
      display: flex;
      flex-direction: column; 
      border-radius: 12px;
      overflow: hidden;
      gap: 8px;

      a {
        padding: 12px 16px;
        text-align: center;
        text-decoration: none;
        color: $second;
        background: $inputStroke;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
        transition: all 0.3s ease;
        cursor: pointer;

        &.active {
          background: $second;
          color: #fff;
        }

        &:not(.active):hover {
          background-color: lighten($secondColor12, 5%);
        }
      }
    }
  }
