@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

.myworks {
  .tab-nav {
    display: flex;
    gap: 0.25rem;
    border: 1px solid $InputStroke;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: $main4;

    a {
      flex: 1;
      padding: 0.75rem 0.5rem;
      border-radius: 0.75rem;
      border: none;
      background-color: transparent;
      color: $second;
      cursor: pointer;
      text-align: center;
      font-weight: 600;

      &.active {
        background: $second;
        color: $white;
      }
    }
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.work-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid $InputStroke;
  padding: 8px;
  border-radius: 1rem;
  background: $white;
  min-height: 100%;
  .work-title {
    display: flex;
    align-items: center;
    gap: 4px;
    .title {
      font-weight: 600;
      font-size: 1rem;
      color: $dark;
    }
  }

  .info {
    width: 100%;
    .info-item {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 14px;
      font-weight: 500;
    }

    i {
      color: $second;
      width: 12px;
      height: 12px;
      font-size: 12px;
    }
    img {
      width: 12px;
      height: 12px;
    }
  }

  .work-progress {
    margin-top: 24px;
    h3 {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      color: var(--color-black);
    }
    .progress-step {
      display: flex;
      align-items: end;
      align-items: center;
    }
  }
  .work-progress.en {
    .step-label {
      &:last-child(2) {
        left: 0;
      }
    }
  }

  .step-icon {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $InputStroke;
    color: $InputStroke;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .step-label {
    position: absolute;
    top: -18px;
    font-size: 0.75rem;
    white-space: nowrap;
    color: $gray;

    &:last-child(2) {
      left: 0;
    }
  }

  .step-line {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $InputStroke;
    height: 0.125rem;
    top: 1.25rem;

    &.completed {
      background-color: $green;
    }
  }
  .step-icon.completed {
    background-color: $green;
    color: $white;
    border: none;
  }
}

.work-details-layout {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 20px;
    h1 {
      font-size: 1.5rem;
      color: $second;
      font-weight: 700;
    }
  }
}

.works-details-tabs {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid $InputStroke;
  @include small-mobile {
    gap: 0;
  }
  .tab-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    color: $gray;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    @include small-mobile {
      padding: 4px 6px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 100%;
      height: 3px;
      background-color: $dark;
      transform: translateX(-50%) scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease-in-out;
    }

    &.active {
      color: $dark;

      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}

.work-details-page {
  .work-description {
    .label {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      color: $dark;
      font-weight: 700;
      font-size: 1.25rem;
    }
    .value {
      color: $gray;
    }
  }
  .notse-box {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 0.5rem;
    height: min-content;
    .label {
      font-size: 0.9rem;
      font-weight: 600;
      color: $second;
      white-space: wrap;
      margin-bottom: 0.25rem;
    }

    .value {
      font-size: 1rem;
      font-weight: 600;
      color: $dark;
      display: flex;
      align-items: center;
      // white-space: nowrap;
      gap: 6px;

      img {
        width: 18px;
        height: 18px;
      }
    }
    .flex {
      display: flex;
      justify-content: space-between;
      .bold {
        font-weight: bold;
        img {
          height: 20px;
          margin: 0 10px;
        }
      }
    }
  }
}
.status-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  &.not-completed {
    background-color: #ff7a590a;
    color: $fire;
  }
  &.completed {
    background-color: #4ecdc414;
    color: $green;
  }
}

.no-groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  max-width: 375px;
  height: 100%;
  img {
    aspect-ratio: 1/1;
  }
  h1 {
    margin: 1rem 0 0.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: $fire;
    flex: 1;
  }
  p {
    color: $gray;
    font-size: 1rem;
  }
}

.button-wrapper {
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 375px;
}

.no-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  // max-width: 375px;
  min-height: 240px;
  border-radius: 12px;
  background-color: $InputBG;
  img {
    aspect-ratio: 0.8;
    width: 50;
  }
  p {
    margin: 2rem 0 0.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: $gray;
  }
}

.tasks-page {
  .execution-tasks {
    .tasks-header {
      margin-top: 1rem;
      h1 {
        color: $dark;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
      }
      p {
        color: $clientYellow;
        font-size: 1rem;
      }
    }
  }
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  & > div {
    transition: transform 0.2s ease;
    cursor: grab;

    // Handle the connector line visibility
    &:first-child {
      .task-card .check::before {
        display: none;
      }
    }

    &:last-child {
      .check::after {
        display: none;
      }
    }
  }
  & > .task-card:active {
    cursor: grabbing;
  }
}
.task-card {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  .check {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    @include centerFlex();
    &.pending {
      background-color: $main4;
    }
    &.completed {
      background-color: $green;
    }
    &.progress {
      background-color: $main;
    }

    &::after {
      content: "";
      position: absolute;
      height: calc(50% - 14px + 8px);
      border: 1px dashed $main08;
      top: 50%;
      transform: translateY(14px);
      right: 13px;
    }
    &::before {
      content: "";
      position: absolute;
      height: calc(50% - 14px + 8px);
      border: 1px dashed $main08;
      bottom: 100%;
      transform: translateY(14px);
      right: 13px;
    }
  }

  img {
    height: 16px;
    width: 16px;
  }

  .card-body {
    padding: 0.5rem;
    border-radius: 12px;
    background-color: $main4;
    .card__title {
      font-size: 1rem;
      color: $dark;
      margin-bottom: 12px;
    }
    .meta-info {
      display: flex;
      align-items: center;
      gap: 6px;
      .item {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        i {
          color: $second;
          width: 16px;
          height: 16px;
          font-size: 16px;
          @include centerFlex();
        }
        span {
          display: flex;
          color: $grayLight;
          font-size: 14px;
        }
      }
    }
  }
}

.task_details {
  .task-details__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 1.5rem;
      color: $second;
      font-weight: 700;
    }
  }
  .identity-container {
    .identity-option:has(input:disabled) {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

.works-assistants-section {
  h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .recent-assistants {
    margin-bottom: 1.5rem;
  }
  .previous-assistants {
    .helper-card {
      background-color: #fdcb2f14;

      .meta {
        .chat {
          background-color: #fdcb2f33;
        }
      }
    }
  }
}

.work-group-section {
  header {
    h1 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.25rem;
      color: $dark;
      span:last-child {
        color: $second;
      }
    }
    .group-desc {
      font-size: 1rem;
      color: $gray;
    }
  }
  .share-goal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-size: 14px;
      color: $dark;
      font-weight: 700;
    }
    .identity-selector {
      background-color: $InputBG;
      padding: 2px;
      border-radius: 12px;
      border: 1px solid $InputStroke;
      .identity-option {
        height: 28px;
        min-width: 56px;
        border: none;
        color: $dark;

        input {
          display: none;
        }
      }
    }
  }
  .group-label {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
}

.work-contract-details {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .work-actions {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .action-buttons {
        @include centerFlex();
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $main4;
        &.yellow {
          background-color: #fdcb2f0a;
        }
      }
    }
  }
  .contract-data {
    h2 {
      margin-bottom: 8px;
      font-size: 1.25rem;
    }
  }
  .progress-bar-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.25rem;
    color: $gray;
    span {
      &:first-child {
        color: $dark;
        font-weight: 700;
      }
    }
  }

  .renew-details {
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #fdcb2f1a;
    h6 {
      color: $clientYellow;
    }
    .renew-date {
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 4px;
      background-color: $white;
      flex: 1;
      padding: 8px 12px;
      border-radius: 12px;
      span {
        font-size: 14px;
        &:first-child {
          color: $second;
          font-weight: 500;
        }
        &:last-child {
          color: $dark;
          font-weight: 700;
        }
      }
    }
  }
}

.show-rate-modal {
  .notes {
    padding: 16px;
    border-radius: 12px;
    background-color: $InputBG;
    border: 1px solid $InputStroke;
  }

  .rate-summary {
    display: flex;
    align-items: center;
    gap: 16px;
    p {
      font-size: 48px;
      font-weight: bold;
      color: $dark;
    }
    .rate-count {
      font-size: 14px;
      color: $gray;
    }
  }
}

.withdraw-modal {
  h1 {
    color: $main;
  }
  .renew-date {
    display: flex;
    align-items: center;
    gap: 4px;
    span {
      &:first-child {
        color: $dark;
      }
      &:last-child {
        color: $second;
      }
    }
  }
}
