@use "sass:color";
@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

.mt-30 {
  margin-top: 30px;
}
.notifications-page {
  max-width: 992px;
  margin: 0 auto;
  .notifications-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 1.25rem;
    h2 {
      font-size: clamp(1rem, 1vw + 1rem, 1.25rem);
      color: $dark;
      font-weight: 700;
    }
  }
}
.notification-web-card {
  display: flex;
  align-items: center;
  padding: 12px 4px;
  gap: 12px;
  border-radius: 12px;
  background-color: $secondColor12;
  &.read {
    background-color: $InputBG;
  }
  .notification-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .notification-content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    .notification-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h6 {
        margin: 0;
        font-size: 1.125rem;
        font-weight: 700;
        color: $dark;
      }

      .notification-date {
        font-size: 16px;
        color: $fire;
        white-space: nowrap;
        flex-grow: 1;
        text-align: end;
      }
    }
    .notification-message {
      font-size: 1rem;
      color: $gray;
    }
  }
}

.inquriy-card {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid $InputStroke;
  .inquriy-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    .inquriy-header {
      display: flex;
      align-items: center;
      gap: 6px;
      h2 {
        color: $second;
        font-size: 16px;
      }
    }
    p {
      color: $gray;
      font-size: 14px;
    }
    small {
      display: block;
      width: 100%;
      text-align: end;
    }
  }
}

.answer-modal {
  .message-title {
    display: flex;
    align-items: center;
    gap: 2px;
    span {
      font-size: 22px;
      color: $dark;
    }
  }
  .message-desc {
    font-size: 16px;
    margin-top: 6px;
    color: $gray;
  }
}
///
.wallet-page {
  .wallet-balance {
    @include centerFlex();
    flex-direction: column;
    gap: 24px;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid $InputStroke;
    margin-bottom: 1rem;

    .wallet-header {
      display: flex;
      justify-content: center;
      align-items: center;
      h5 {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        color: $gray;
      }
    }

    .balance-amount {
      @include centerFlex();
      gap: 4px;
      span {
        min-height: 56px;
        color: $main;
        font-size: 40px;
        font-weight: bold;
      }

      img {
        height: 30px;
        opacity: 0.5;
      }
    }

    .wallet-actions {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
      max-width: 300px;

      button {
        flex: 1;
        white-space: nowrap;
      }
    }

    .btn-charge {
      background-color: $main;
      color: white;
      padding: 0.6rem 1.5rem;
      border-radius: 8px;
      font-weight: bold;
      border: none;
      transition: 0.3s ease;

      &:hover {
        background-color: color.adjust($main, $lightness: -10%);
      }
    }

    .btn-refund {
      background-color: transparent;
      border: 2px solid $main;
      color: $main;
      padding: 0.6rem 1.5rem;
      border-radius: 8px;
      font-weight: bold;
      transition: 0.3s ease;

      &:hover {
        background-color: $main;
        color: $white;
      }
    }
  }

  .balance-box {
    background-color: $InputBG;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 1rem;

    .text {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .transaction-item {
      margin-bottom: 1rem;

      .top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        .type {
          color: $second;
          font-weight: bold;
        }

        .amount {
          display: flex;
          align-items: center;
          gap: 5px;
          color: $second;
          font-weight: bold;

          img {
            height: 18px;
            filter: grayscale(1);
          }
        }
      }

      .bottom-row {
        display: flex;
        justify-content: space-between;
        color: $inputHint;
        font-weight: 700;
        font-size: 0.875rem;
      }

      hr {
        margin: 1rem 0;
        border: none;
        border-top: 2px dotted #e4e4e4;
      }
    }
  }
}
.interests-page {
  .container {
    .categories-section {
      background-color: $InputStroke;
      padding: 20px;
      margin-bottom: 2rem;
      border-radius: 8px;
    }

    .subcategories-section {
      margin-bottom: 1.5rem;

      .subcategories {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        min-width: 100%;
        .sub-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $InputStroke;
          border-radius: 8px;
          padding: 1rem;
          font-size: 0.95rem;
          color: #333;
          font-weight: bold;
          i {
            color: $main;
          }
        }
      }
    }

    .category {
      margin-bottom: 2rem;

      .category-header {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .tag {
          background-color: #fff;
          border: 1px solid $second;
          color: $second;
          border-radius: 8px;
          padding: 8px 12px;
          display: flex;
          align-items: center;
          gap: 6px;
          font-size: 0.9rem;
          cursor: pointer;
          transition: 0.3s;

          i {
            font-size: 0.85rem;
          }

          &:hover {
            background-color: #f0faff;
          }

          &.selected {
            background-color: $second;
            color: #fff;
            border-color: $second;

            i {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

///
.user-profile {
  @include space-between;
  gap: 8px;
  padding: 4px;
  padding-left: 16px;
  margin-bottom: 16px;
  background: $secondColor12;
  border-radius: 10px;

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;

    h6 {
      font-size: 16px;
      color: $dark;
      margin-bottom: 4px;
      font-weight: bold;
    }

    span {
      font-size: 14px;
      color: $dark;
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 8px;

      img {
        width: 18px;
      }

      span {
        font-size: 13px;
        color: #003399;
        font-weight: 500;
      }
    }
  }
  .rating {
    display: flex;
    align-items: center;
    span {
      color: $dark;
      margin-inline-start: 6px;
      font-weight: 600;
      margin-top: 4px;
    }
  }
}
.profile_section {
  .profile_sidebar {
    position: sticky;
    top: 100px;
    border-radius: 16px;

    .nav_links {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 16px;
      .nav_link {
        padding: 12px 18px;
        background: $InputBG;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 12px;
        color: $dark;
        font-size: 16px;
        color: $dark;
        font-weight: 700;
        transition: all 0.3s ease;
        &.disabled {
          pointer-events: none;
          opacity: 0.5;
          cursor: not-allowed;
        }
        i {
          font-size: 18px;
          width: 18px;
          aspect-ratio: 1/1;

          @include centerFlex;
          color: $second;
        }

        img {
          width: 24px;
          height: 24px;
        }

        &:hover {
          background-color: color.adjust($secondColor12, $lightness: 5%);
        }

        &.active {
          background-color: $second;
          color: $white;
          img {
            filter: brightness(0) invert(1);
          }
          i {
            font-size: 24px;
            color: $white;
          }
        }
        @media (max-width: 567px) {
          padding: 10x;
        }
      }
    }

    .assistant_btn {
      margin-top: 24px;
      width: 100%;
      background-color: #003399;
      color: #fff;
      padding: 12px 18px;
      border: none;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      transition: 0.3s;

      i {
        font-size: 16px;
      }

      &:hover {
        background-color: color.adjust(#003399, $lightness: -5%);
      }
    }
  }
}

///
.notification-setting {
  .personal-assistant {
    h2 {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 12px;
    }
    p {
      font-size: 1rem;
      font-weight: 500;
      color: $InputStroke;
      &.yellow {
        color: $clientYellow;
      }
    }
    .notifiaction-setting-options {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 32px;
      .notification__header {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border-radius: $borderRadius;
        background-color: $InputBG;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.3s ease;
        .notification__title {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .notification__switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;

        input {
          opacity: 0;
          width: 40px;
          height: 20px;
          position: relative;
          z-index: 1;
          cursor: pointer;
        }

        .slider {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $InputStroke;
          border-radius: 20px;
          transition: 0.4s;

          &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 2px;
            background-color: $white;
            border-radius: 50%;
            transition: 0.4s;
          }
        }

        input:checked + .slider {
          background-color: $second;
        }

        input:checked + .slider:before {
          transform: translateX(20px);
        }
      }
    }
  }
}

// edit profile

.edit-profile-page {
}
.change-pasowrd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  label {
    color: #0d0d0d;
    font-weight: 600;
    font-size: 16px;
  }
  .form-check-input:checked {
    background-color: $second;
    border-color: $second25;
  }
}

// communities
.communities-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.communities-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 12px;
  border-radius: 12px;
  background-color: $InputBG;
  img {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 10px;
  }
  h2 {
    font-size: 1rem;
    font-weight: 700;
    color: $dark;
    flex: 1;
  }
  .arrow-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    // transform: rotate(90deg);
    // transition: 0.3s ease;
    color: $second;
  }
}
