.myworks {
.tab-nav {
  width: 100%;

  .field-label {
    display: block;
    margin-bottom: 8px;
    color: $dark;
    font-weight: 600;
    font-size: 16px;
  }

  .tab-buttons {
    display: flex;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;

    // غيّر من button إلى a
    a {
      flex: 1;
      padding: 12px 16px;
      text-align: center;
      text-decoration: none;
      background: transparent;
      color: $second;
      font-size: 16px;
      font-weight: 500;
      height: 54px;
      line-height: 30px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &.active {
        background: $second;
        color: #fff;
        border-radius: 12px;
      }

      &:not(.active):hover {
        background: #eee;
      }
    }
  }
}
}


