@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

.filter-side-bar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 1rem;
  position: sticky;
  top: 100px;
}
