@use "sass:color";
@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

.platform-tabs {
  position: sticky;
  top: 100px;
  z-index: 2;
  backdrop-filter: blur(33px);
  overflow: hidden;
  border-radius: 1rem;
}

// MODAL
.platform-modal-header {
  font-size: 1rem;
  font-weight: 700;
  color: $main;
}
.platform-modal-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .platform-modal-heading {
    font-size: 18px;
    font-weight: 700;
    color: $dark;
  }
  .platform-modal-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .platform-modal-paragraph {
      font-size: 14px;
      font-weight: 400;
      color: #0d0d0d8f;
    }
  }
}

.platform-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  .platform-header__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $second;
  }
}
.platform-hint {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  i {
    color: $main;
  }
  p {
    font-weight: 400;
    color: $gray;
    font-size: 1rem;
  }
}

// Subscription Management
.subscription-section {
  .subscription-current-plan {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: $main4;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    .subscription-header {
      font-size: 700;
      font-size: 22px;
      color: $dark;
    }

    .plan-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 8px;
      border-bottom: 1px solid $InputStroke;
      .plan-info {
        display: flex;
        align-items: center;
        gap: 6px;
        img {
          width: 32px;
          height: 32px;
        }
        .account-type {
          font-size: 1rem;
          font-weight: 700;
          color: $dark;
        }
      }
      .plan-duration {
        font-size: 0.875rem;
        font-weight: 400;
        color: $gray;
      }
    }
    .features-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem 0;
      position: relative;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 1.5rem 0.75rem 1rem;

        .feature-text {
          font-size: 16px;
          position: relative;
          color: $dark;
          z-index: 1;
        }
        .feature-value {
          font-size: 18px;
          color: $second;
          font-weight: 700;
        }
        &:before {
          content: "\f00c";
          font-family: "Font Awesome 6 Pro";
          font-weight: 900;
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .subscription-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: $dark;
    margin: 1.5rem 0 0.75rem;
  }
}
.subscription-upgrade-options {
  height: 56px;
  background-color: $main4;
  width: 100%;
  border-radius: 1rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  .plan-option {
    flex: 1;
    cursor: pointer;
    height: 100%;
    border-radius: 12px;
    @include centerFlex();
    transition: all 0.2s ease;
    .plan-radio {
      appearance: none;
    }
  }
  .plan-option-active {
    background-color: $second;
    color: $white;
  }
}

.plan-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.75rem;
  align-items: center;
  border: 1px solid $InputStroke;
  border-radius: 1rem;
  gap: 0.5rem;
  .plan {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    img {
      height: 80px;
      width: 80px;
    }
    h3 {
      font-size: 1rem;
      font-weight: 700;
      color: $dark;
    }
  }
  .plan-features {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 0.5rem 0;
    border-top: 1px solid $InputStroke;
    border-bottom: 1px solid $InputStroke;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.25rem;

      p {
        font-size: 14px;
        position: relative;
        color: $dark;
        z-index: 1;
      }
      span {
        font-size: 18px;
        color: $second;
        font-weight: 700;
      }
      &:before {
        content: "\f00c";
        font-family: "Font Awesome 6 Pro";
        font-weight: 900;
        position: absolute;
        right: 0;
      }
    }
  }
  .plan-card-foot {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    .price {
      min-width: 62px;
      .total {
        color: $fire;
        font-size: 1.25rem;
        font-weight: 700;
      }
      .monthly {
        color: $gray;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.payment-modal-header {
  font-size: 1rem;
  font-weight: 700;
  color: $main;
}
.payment-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  .payment-modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    .payment-modal-heading {
      font-size: 14px;
      font-weight: 400;
      color: $dark;
    }
    .payment-modal-price {
      font-size: 28px;
      color: $dark;
    }
  }

  .payment-methods {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .payment-method {
      border: 1px solid $InputStroke;
      border-radius: 12px;
      padding: 12px 16px;
      width: 100%;
      min-height: 64px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 12px;
      transition: $transition;
      input {
        appearance: none;
      }
      &.active {
        background-color: $secondColor12;
      }
      .payment-methd-image-wrapper {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        background-color: $white;
        @include centerFlex();
        img {
          width: 21px;
          height: 18px;
        }
      }
      .payment-method-title {
        font-size: 14px;
        font-weight: 700;
        color: $dark;
        flex: 1;
      }
      .wallet-balance {
        font-size: 18px;
        font-weight: 700;
        color: $main;
      }
    }
  }
}

// CV section

.cv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .cv__section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .cv__section-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cv__section-title {
        font-size: 1rem;
        color: $dark;
        font-weight: 700;
        .cv__section-note {
          font-size: 0.875rem;
          margin: 0 4px;
          color: $clientYellow;
        }
      }
    }
  }
}
.cv__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .cv__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 12px;
    border-radius: 16px;
    background-color: $InputBG;
    cursor: pointer;
    .cv__item-text {
      font-size: 14px;
      color: $dark;
      font-weight: 700;
    }
    .cv__item-action {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $white;
      @include centerFlex();
      color: $second;
      cursor: pointer;
      font-size: 14px;
      i {
        font-size: 12px;
      }
    }
  }
}

.empty-data {
  border: 1px dashed $InputStroke;
  padding: 16px;
  border-radius: 12px;
  min-height: 56px;
  background-color: $InputBG;
  color: $dark;
  @include centerFlex();
  p {
    font-size: 12px;
    color: $dark;
  }
}

.groups__section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  .groups__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    // align-items: center;
    .groups__list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 12px;
      border-radius: 16px;
      background-color: $InputBG;
      cursor: pointer;
      .groups__item-text {
        font-size: 14px;
        color: $dark;
        font-weight: 700;
      }
      .groups__item-action {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $white;
        @include centerFlex();
        color: $second;
        cursor: pointer;
        font-size: 14px;
        i {
          font-size: 12px;
        }
      }
    }
  }
}

// audience (followers , members)

.audience-card {
  display: flex;
  align-items: center;
  background-color: $secondColor12;
  border-radius: 10px;
  overflow: hidden;
  .user-image-wrapper {
    position: relative;
    .user-image {
      height: 80px;
      border-radius: 10px;
      aspect-ratio: 1/1;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $online;
      border: 1px solid $white;
    }
    &.offline::before {
      display: none;
    }
  }
  .info {
    flex: 1;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    h2 {
      font-size: 16px;
      font-weight: 500;
      color: $dark;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .score {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 16px;
        font-weight: 700;
        color: $dark;
      }
    }
    .country-date {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .country {
        display: flex;
        align-items: center;
        gap: 4px;
        span {
          font-size: 12px;
          font-weight: 400;
          color: $dark;
        }

        img {
          width: 14px;
          height: 14px;
        }
      }
      .date {
        font-size: 14px;
        font-weight: 400;
        color: $gray;
        white-space: nowrap;
      }
    }
  }
}

// add assistance

.duration-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 54px;
  border: 1px solid $InputStroke;
  border-radius: 12px;
  background-color: $InputBG;
  padding: 4px;
  flex: 2;
}

.duration-option {
  cursor: pointer;
  @include centerFlex;
  font-size: 14px;
  flex: 1;
  gap: 4px;
  padding: 12px 8px;
  border-radius: 12px;
  color: $second;
  transition: all 0.4s ease;
  input {
    appearance: none;
  }
  &.active {
    border-color: $second;
    background-color: $second;
    color: $white;

    img {
      filter: brightness(0) invert(1);
    }
  }
}

.group-details {
  .header {
    display: flex;
    align-items: center;
    gap: 16px;
    h1 {
      flex: 1;
      font-size: 1.5rem;
      color: $dark;
      font-weight: 700;
      span {
        color: $second;
      }
    }
  }
  .description {
    h3 {
      font-size: 1rem;
      font-weight: 700;
      color: $dark;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      color: $gray;
    }
  }
  .info {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  .group-label {
    color: $dark;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 8px;
  }
}

.group-members-list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.member-card {
  border: 1px solid $InputStroke;
  border-radius: 12px;
  background-color: $second4;
  overflow: hidden;
  // flex: 1;
  max-width: 180px;
  // width: 81.5px;
  position: relative;
  @media (max-width: 475px) {
    width: 81.5px;
  }

  .member-card__avatar {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .info {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 6px;
    text-align: center;
    font-weight: 700;
    color: $dark;

    .member-name {
      font-size: 16px;
      @media (max-width: 475px) {
        font-size: 12px;
      }
    }
  }
  .status-indicator {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $online;
    border: 1px solid $white;
  }

  .exe-padge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $main;
    color: $white;
    padding: 6px;
    min-width: 32px;
    text-align: center;
    font-size: 12px;
    border-radius: 12px 0 12px;
  }
}
