@mixin perfomanceSectionCard {
  background-color: $white;
  padding: 1rem;
  border-radius: $borderRadius;
  gap: 0.5rem;
  h3 {
    font-size: 1.2rem;
    color: $main;
    font-weight: 600;
  }
}

.performance-filter {
  @include perfomanceSectionCard;

  &__footer {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    border-top: 1px solid $border;
    padding-top: 1rem;
    gap: 1rem;
    justify-content: end;
  }
  &__button {
    width: 150px;
  }
}

.form-check {
  margin: 0;
  font-size: 1rem;
  .form-check-label {
    margin: 0;
    width: 100%;
    font-size: 1rem;
    cursor: pointer !important;
  }
  .form-check-input {
    cursor: pointer !important;
    &:checked {
      background-color: $main !important;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}
.performance-metrics {
  margin-top: 1rem;
  .metrics-accordion {
    margin-top: 0.5rem;
    .accordion-item {
      border: none;
      margin-bottom: 10px;
      border-radius: 8px;
      overflow: hidden;
    }

    .accordion-header {
      border: none;
      button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75rem;
        padding: 12px 16px;
        background-color: $white;
        color: $dark;
        border: none;
        box-shadow: none;
        outline: none;
        border-radius: none;
        position: relative;
        &:focus {
          box-shadow: none;
        }

        &::after {
          content: "";
          font-size: 1.2rem;
          background-image: none;
          display: none;
        }

        .icon-toggle {
          position: absolute;
          left: 16px;
          top: 50%;
          width: 16px;
          height: 16px;
          transform: translateY(-50%);
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            position: absolute;
            background-color: $dark;
            transition: all 0.3s ease;
          }

          .horizontal {
            width: 12px;
            height: 2px;
          }

          .vertical {
            width: 2px;
            height: 12px;
          }
        }

        &[aria-expanded="true"] {
          .icon-toggle {
            .vertical {
              opacity: 0;
              transform: scaleY(0);
            }
          }
        }
      }
    }

    .accordion-body {
      padding: 12px 16px;
      background-color: #fff;
      border-top: 1px solid #eee;

      .metrics-item {
        display: flex;
        align-items: center;
        padding: 6px 0;

        input {
          margin-left: 10px;
          accent-color: $main !important;
        }

        label {
          margin: 0;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.metrics-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  .metrics-input {
    accent-color: $main;
    cursor: pointer;
  }
  .metrics-label {
    font-size: 0.9rem;
    color: $text;
    cursor: pointer;
  }
}

.performance-report {
  background-color: $white;
  padding: 1rem;
  border-radius: $borderRadius;
  margin-top: 1rem;
  &__header--container {
    margin-bottom: 1rem;
  }
  &__header {
    font-size: 1.5rem;
    color: $main;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  .metrics-header {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .metrics-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    .metric-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      min-width: 240px;
      background-color: #fff;
      border-radius: 12px;
      padding: 20px 24px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      transition: box-shadow 0.2s ease;

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
      .metric-title {
        font-size: 0.9rem;
        color: #6b7280;
      }

      .metric-value {
        font-size: 1.75rem;
        font-weight: 700;
        color: #111827; // gray-900
        margin: 0;
      }
    }
  }
}
.performance-no-report-data {
  background-color: $white;
  padding: 1rem;
  border-radius: $borderRadius;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  gap: 1rem;
  &__icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $lightGray;
    @include centerFlex();
    i {
      font-size: 2rem;
    }
  }
  h6 {
    font-size: 1.2rem;
    color: $dark;
    font-weight: 600;
  }
  p {
    font-size: 0.9rem;
    color: $text;
    text-align: center;
  }
}
