.user-table {
  align-items: center;
  gap: 10px;
}

.table-container {
  border-radius: 1rem;
  .custom-table {
    border-radius: 1rem;
    border: 1px solid #e6ebf1;
    overflow: hidden;
    tr {
      white-space: nowrap;
      min-width: 150px;
    }
    td {
      padding: 12px 22px;
    }
    tr:last-child {
      &:first-child {
        border-bottom-left-radius: 1rem;
      }
      &:last-child {
        border-bottom-right-radius: 1rem;
      }
    }
    th {
      min-height: 150px;
      white-space: nowrap;

      i {
        margin: 0 8px;
        cursor: pointer;
      }
    }
  }
}

.table-filter {
  align-items: center;
  display: flex;
  gap: 10px;
  @include small-mobile() {
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 8px;
  }
  .filter-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .search-input {
    width: 100%;
  }
  .filter-button {
    height: auto;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    padding: 10px 16px;
    width: 100%;
    white-space: nowrap;
  }
  .filter-button__second {
    background-color: $second;
  }
}
.popover {
  min-width: 200px;
  overflow: hidden;
  .popover-header {
    font-size: 12px;
    padding: 12px;
    background-color: $white;
    border: none;
  }
  .popover-body {
    padding: 0 !important;
    .status-container {
      align-items: start;
      flex-direction: column;
      overflow: hidden;
      button {
        padding: 6px 10px;
        width: 100%;
        text-align: start;
        padding: 12px;
        align-items: center;
        font-weight: 500;
        gap: 12px;
        font-size: 12px;
        .color-icon {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          &.active {
            background-color: #28a745;
          }
          &.inactive {
            background-color: #dc3545;
          }
        }
        &:hover {
          background-color: $inputBG;
        }
        &.selected {
          background-color: $inputBG;
          font-weight: 600;
        }
      }
    }
  }
}
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .pagination-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    .next {
      color: $main;
      cursor: pointer;
    }
    .prev {
      color: $text;
      cursor: pointer;
    }
    .page-numbers {
      align-items: center;
      gap: 10px;
      .page-number {
        width: 32px;
        height: 32px;
        @include centerFlex();
        border-radius: 6px;
        border: 1px solid $main;
        cursor: pointer;
        transition: $transition;
        &:hover {
          background-color: $main;
          color: $white;
        }
        &.active {
          background-color: $main;
          color: $white;
        }
      }
    }
  }
  .pagination-info {
  }
}
.added-to__tasks {
  font-size: 12px;
  color: $text;
}
.actions__butons--notifications {
  i {
    color: $main;
    &.fa-eye {
      color: $second;
    }
  }
}
.table__actions {
  @include centerFlex();
  gap: 12px;
  font-size: 12px;
  &--details {
    color: $second;
    cursor: pointer;
  }
  &--edit {
    color: $eidtAction;
    cursor: pointer;
  }
  &--delete {
    color: $dangerLight;
    cursor: pointer;
  }
}

.popup__filter {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 300px;
  z-index: 10;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  top: 24px;

  margin-top: 1rem;

  &.rtl {
    left: auto;
    right: 0;
  }
  .popup__filter--wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    input,
    select {
      width: 100%;
      margin-bottom: 8px;
    }
    .sort-controls {
      display: flex;
      justify-content: space-between;
    }
  }

  .close-btn {
    position: absolute;
    top: 4px;
    left: 0;
    background: transparent;
    border: none;
    font-size: 16px;
    color: $gray;
    cursor: pointer;
  }
}
