@use "./config" as *;
@use "./mixins" as *;
@use "./variables" as *;

.link-styles {
  text-decoration: underline;
  color: $main;
}

.label {
  color: #0d0d0d;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form__wrapper--custom {
  @include sectionWrapper();
  .form__header {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 16px;

    @include tablet-layout {
      font-size: 18px;
    }
  }
}

.no-scroll-bar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.float-button-wrapper {
  position: sticky;
  bottom: 0;
  z-index: 10; /* above list items */
  display: flex;
  justify-content: end;
  @media screen and (max-width: 991px) {
    bottom: 80px;
  }
}

/* Your existing button styles */
.float-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  background-color: rgb(33, 75, 146);
  color: $white;
  font-weight: 600;
  cursor: pointer;
}

.ripple-animation {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.5);
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
  }

  &:active::after {
    animation: ripple 0.6s ease-out;
  }
}

@keyframes ripple {
  from {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0.6;
  }
  to {
    transform: scale(3) translate(-50%, -50%);
    opacity: 0;
  }
}
