$main: #214b92;
$main8: #02489614;
$main4: #0248960a;
$main10: rgb(33, 75, 146, 0.1);
$main25: rgb(33, 75, 146, 0.25);
$main08: rgb(33, 75, 146, 0.08);
$mainLight: rgba(33, 75, 146, 0.8);
$second: #5fcafa;
$secondHover: #32b3e6;
$second25: rgb(95, 202, 250, 0.25);
$second5: rgb(95, 202, 250, 0.05);
$secondColor12: #5fcafa1f;
$secondColor08: #5fcafa14;
$secondColorDark: #13aef3;
$fire: #ff7a59;
$green: #4ecdc4;
$dashboardBg: #f8f8f8;
$clientYellow: #fdcb2f;
$button: #8c137e;
$dark: #0d0d0d;
$inputHint: #aaaaaa;
$gray: #777777;
$grayLight: #777777cc;
$lightGray: #eeeeee;
$text: #666b88;
$white: #fff;
$third25: #fff5e2;
$JumbotronHead: #4f4f4f;
$InputStroke: #0d0d0d18;
$InputBG: #0d0d0d05;

$success: #34b53a;
$successLight: #34b53acc;
$danger: #ff3a29;
$dangerLight: #dc3545cc;
$eidtAction: #6c757d;
$borderRadius: 12px;
$online: #00ff44;
$transition: 0.3s ease-in-out;
