@import "./config";

.right-side {
  position: sticky;
  top: 30px;
}

.profile-image {
  margin-bottom: 0.5rem;
  @include centerFlex();
  &__wrapper {
    position: relative;
    width: 150px;
    height: 150px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
  }

  &__upload-btn {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 26px;
    height: 26px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    display: none;
  }
}
.personal-data__button {
  display: flex;
  align-items: center;
  justify-content: end;
  .btn-width {
    width: fit-content;
    padding: 12px 22px;
  }
}

.permission-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    color: #333;
  }

  &__icon {
    color: #28a745;
    font-size: 1.2rem;
  }

  &__label {
    flex: 1;
    &.group {
      color: $main;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.employee__data {
  &--item {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    h6 {
      font-size: "18px";
    }
    p {
      font-size: "16px";
      font-weight: bold;
      color: $text;
    }
  }
}

.user-dashboard {
  .personal__data {
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      padding: 1rem 0;
      span:first-child {
        font-weight: bold;
        color: #666b88;
        white-space: nowrap;
      }
    }
  }
  &__card {
    background: $white;
    border-radius: $borderRadius;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    margin-bottom: 0.5rem;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid $border;
      padding-bottom: 1.2rem;
    }
    &-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: $text;
    }
    &-content {
      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem 0;

        span:first-child {
          font-weight: bold;
          color: $text;
          min-width: 110px;
        }
      }
      &.border--bottom {
        p:not(:last-child) {
          border-bottom: 1px solid #f1f3f3;
        }
      }
    }
    &-status {
      background-color: #dbeafe;
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: $borderRadius;
      text-align: center;
    }
    &-type {
      background-color: #dcfce7;
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: $borderRadius;
      text-align: center;
    }
  }

  &__profile {
    text-align: center;
    background: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 0.5rem;
  }

  &__avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto 1rem;
    background: #f0f0f0;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__resume {
    font-size: 1rem;
    display: block;
    margin-top: 0.5rem;
    color: #3f51b5;
    margin-bottom: 1.5rem;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: $borderRadius;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;

    &--secondary {
      background-color: $eidtAction;
    }
  }

  &__text--danger {
    color: #e53935;
    font-weight: bold;
  }

  &__rating-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;
    margin-bottom: 1px solid $border;
  }

  &__rating-stars {
    font-weight: bold;
    color: #facc17;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  &__rating-label {
    color: $text;
    font-weight: bold;
  }
}
