// shared ui
@use "./variables" as *;
@use "./mixins" as *;
@use "./config" as *;

@use "./utils";
@use "./header";
@use "./footer";
@use "./form_ui";
@use "./cards";
@use "./fonts";
@use "./components";
@use "./modals";
@use "./auth";

// main dashboard
@use "./dashboard";
@use "./tables";
@use "./tasks";
@use "./create_employer";
@use "./reports";
@use "./employee-profile";
@use "./chats";
@use "./model";
@use "./website-management";
@use "./contracts";
@use "./resuems";

// website
@use "./landing";
@use "./terms-privacy";
@use "./goal_details";
@use "./my_works";
@use "./community";
@use "./my_profile";
@use "./platform";
@use "./personal_helper";

body {
  direction: rtl;
  font-family: "Dubai";
  background-color: $white;

  main {
    min-height: calc(100vh - 80px);
    @media screen and (max-width: 991px) {
      & {
        min-height: calc(100vh - 156px);
      }
    }
  }

  &.en {
    direction: ltr;
    font-family: "Dubai";
  }
}
