// shared ui
@use "./variables" as *;
@use "./mixins" as *;
@use "./config" as *;

@use "./utils";
@use "./header";
@use "./footer";
@use "./form_ui";
@use "./cards";
@use "./fonts";
@use "./components";
@use "./modals";
@use "./auth";

// main dashboard
@use "./dashboard";
@use "./tables";
@use "./tasks";
@use "./create_employer";
@use "./reports";
@use "./employee-profile";
@use "./chats";
@use "./model";
@use "./website-management";
@use "./contracts";
@use "./resuems";

// website
@use "./landing";
@use "./terms-privacy";
@use "./goal_details";
@use "./my_works";
@use "./community";
@use "./my_profile";
@use "./platform";
@use "./personal_helper";

body {
  direction: rtl;
  font-family: "Dubai";
  background-color: $white;

  main {
    min-height: calc(100dvh - 80px);
    @media screen and (max-width: 991px) {
      & {
        min-height: calc(100dvh - 156px);
      }
    }
  }

  &.en {
    direction: ltr;
    font-family: "Dubai";
  }
}
select,
::picker(select) {
  appearance: base-select;
}

/* PDF only header */
.pdf-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #333;
}

/* Border around PDF content */
.pdf-container {
  border: 1px solid #333;
  padding: 16px;
  margin: 0 auto;
}

@media screen {
  .pdf-header {
    display: none;
  }
}
