@import "./config";
@import "./fonts";
@import "./cards";
@import "./form_ui";
@import "./dashboard";
@import "./landing";
@import "./auth";
@import "./header";
@import "./tables";
@import "./tasks";
@import "./create_employer";
body {
  direction: rtl;
  font-family: "Dubai";
  background-color: var(--white);
  // overflow: hidden;
  main {
    min-height: calc(100vh - 80px);
  }

  &.en {
    direction: ltr;
    font-family: "Roboto", sans-serif;
  }
}
